<div class="entry">
  <assessment-entity-status entity="entity" ng-if="context === 'assessment'"></assessment-entity-status>
  <inventory-entity-status entity="entity" ng-if="context === 'inventory'"></inventory-entity-status>
  <analysis-entity-status entity="entity" ng-if="context === 'analysis'"></analysis-entity-status>
  <div class="entry-content">
    <div class="entry-details">
      <div class="disable-entry details"
           ng-class="entry.activeAssessmentLink(entity)"
           ng-click="entry.gotoLocation(entry.responseLink(entity))">
        <h3 class='name'>{{entity.name}}
          <i ng-hide="entity.has_access" class="fa fa-lock"></i>
        </h3>
        <small>Facilitated by: {{entity.facilitator.full_name}}</small>
      </div>
      <div class="links" ng-if="context === 'assessment'">
        <div class="repeat" ng-repeat="link in entry.orderLinks(entity.links)">
          <assessment-links
              data-title="{{link.title}}"
              data-active="{{link.active}}"
              data-type="{{link.type}}"
              data-id="{{entity.id}}"
              data-consensus-id="{{entity.consensus.id}}"
              data-role="{{role}}">
          </assessment-links>
        </div>
      </div>
      <inventory-links id="{{ entity.id }}" links="entity.links" ng-if="context === 'inventory'"></inventory-links>
    </div>

    <div class="entry-footer">
      <div class="district-header disable-entry" ng-if="entry.isNetworkPartner()">
        {{entity.district_name}}
      </div>
      <div class="disable-entry entry-item">
        <span class="category">Participants</span>
        <span class="stat">{{entity.participant_count}}</span>
      </div>
      <div class="disable-entry entry-item" ng-if="context !== 'inventory'">
        <span class="category">Completed</span>
        <span class="stat">{{entity.completed_responses}}</span>
      </div>
      <div class="disable-entry date" ng-if="context === 'assessment'">
        <span class='category'>Meeting</span>
        <span class='stat'>{{entry.meetingTime(entity.meeting_date)}}</span>
      </div>
      <div class="date disable-entry" ng-if="context === 'inventory'">
        <span class='category'>Deadline</span>
        <span class='stat'>{{entry.meetingTime(entity.due_date)}}</span>
      </div>
    </div>
  </div>
</div>
