<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pdredesign-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand logo' href="#">
        <%= image_tag 'pdlogo.png' %>
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="pdredesign-navbar">
      <ul class='nav navbar-nav'>
        <li ng-class="activeClassFor('home')">
          <a href='#/home'>Home</a>
        </li>
        <li ng-class="activeClassFor('current_state')" class="cursor">
          <a class='data-toggle' data-toggle='dropdown'>Current State</a>
          <ul class='dropdown-menu'>
            <li>
              <a href='#/assessments'>Readiness Assessment</a>
            </li>
          </ul>

        </li>
        <li class='disabled'>
          <a href='#'>Future State</a>
        </li>
        <li class='disabled'>
          <a href='#'>Planning</a>
        </li>
        <li class='disabled'>
          <a href='#'>Procurement</a>
        </li>
        <li class='disabled'>
          <a href='#'>Implementation</a>
        </li>
        <li class='disabled'>
          <a href='#'>Rollout</a>
        </li>
      </ul>
      <ul class='nav navbar-nav navbar-right user-menu cursor'>
        <li class='hidden-xs hidden-sm'>
          <img alt="{{user.name}}" class="polaroid" height="40" ng-src="{{user.avatar}}">
        </li>
        <li>
          <a class='data-toggle' data-toggle='dropdown'>
            <i class='fa fa-caret-down'></i>
            {{user.first_name}}
          </a>

          <ul class='dropdown-menu'>
            <li>
              <a href='#/settings'>
                <i class='fa fa-gears'></i>
                Settings
              </a>
            </li>
            <li>
              <a href='#/logout'>
                <i class='fa fa-sign-out'></i>
                Sign Out
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</nav>

