<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#">
        <%= image_tag 'pdlogo.png' %>
      </a>
    </div>

   <button type="button" class="navbar-right navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>  
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-form">
          <button choose-role-modal type="button" class="btn btn-primary btn-sm">Sign Up</button>
        </li>

        <li>
          <a href="#/login">Log In</a> 
        </li>
       </ul>
    </div>

  </div>
</nav>

