 <div id="createConsensus" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="min-height: 570px;"  data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="createConsensusLabel">Create Consensus Response</h3>
      </div>
      <div class="modal-body">
        <h3>Creating a consensus response will show all participants' responses and allow you to facilitate the consensus meeting.</h3>
        <h3>Keep in mind, however, that this will prevent participants from leaving additional feedback in their own individual responses.</h3>
      </div>
      <div class='modal-footer'>
        <a class="btn btn-primary" href="">Create Consensus Response</a>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
