<div ng-repeat="learningQuestion in learningQuestionDisplay.learningQuestions">
  <div class="row">
    <div class="col-lg-12">
      <button class="close"><i class="fa fa-times"></i></button>
        <span id="learning-question-{{ learningQuestion.id }}" ng-hide="learningQuestionDisplay.editorOpened"
              ng-click="learningQuestionDisplay.toggleEditor()">
          {{ learningQuestion.body }}
        </span>
      <input id="learning-question-{{ learningQuestion.id }}" ng-show="learningQuestionDisplay.editorOpened"
             class="form-control" type="text" value="{{ learningQuestion.body }}"
             ng-model="learningQuestionForm.model.body" ng-maxlength="255"/>
    </div>
  </div>
  <br ng-hide="$last"/>
</div>