<div ng-repeat="learningQuestion in learningQuestionDisplay.learningQuestions">
  <div class="row">
    <div class="col-lg-12">
      <button class="close"><i class="fa fa-times"></i></button>
        <span id="learning-question-{{ learningQuestion.id }}" ng-hide="learningQuestion.isEditable"
              ng-click="learningQuestionDisplay.toggleEditor(learningQuestion)">
          {{ learningQuestion.body }}
        </span>
        <learning-question-editor question="learningQuestion" editable="learningQuestion.isEditable" />
    </div>
  </div>
  <br ng-hide="$last"/>
</div>