<div ng-class="{'col-md-10': modal === 'false'}">
  <div class="row">
    <h2>Add/Review Learning Questions</h2>
    <p>Please list 1-3 questions about what you are collectively interested in learning about technology and data for professional development by using this tool.
      You will be able to reference and edit these questions in the sidebar at any time.
    </p>
    <p>For Example:</p>
    <ul>
      <li>Given our existing assets, what are key technical requirements for a potential purchase?</li>
      <li>What is our return on investment for existing PD product purchases?</li>
      <li>What have been the challenges or successes with rolling out new technology or products across sites?</li>
    </ul>
  </div>
  <hr />
  <learning-question-list-display></learning-question-list-display>
  <learning-question-form></learning-question-form>
</div>