#takeaway
  border-bottom: 1px solid #bebcaf
  margin-bottom: 2em
  
  div.text-center
    margin:  0.3125em auto
  i
    color:  white
  .redactor_box
    min-height: 7em
  .evidence-read
    min-height: 3.75em
    vertical-align: middle
    &:hover
      cursor:pointer
      background: rgba(54, 25, 25, .5)
      div, p
        color: white
    .edit-button
      vertical-align: middle
      text-align: center
      margin-top: 1em
  textarea
    width: 100%
    min-height: 4.6em
