$grey: #EBECF0

.searchable-list
  height: 200px
  display: flex
  flex-direction: column
  overflow: hidden
  border: 1px solid grey

  .list-header
    flex: 0 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px
    background-color: $grey
    border-bottom: 1px solid grey

    .search-wrapper
      display: flex
      align-items: center

      i
        margin-right: -20px
        color: $secondary-color

      input.search
        outline: 0
        background-color: white
        border: none
        border-radius: 10px
        padding: 2px 10px 2px 25px

  .list
    overflow: auto

    *
      margin: 0

    > div
      padding: 3px 0

      &:not(.javascripted):nth-child(odd),
      &.odd
        background-color: $grey
