<div class="partner-signup">
  <div class="row">
    <div class="col-md-12">
      <h3>PDredesign for Districts</h3>
      <p>We're here to help your district build capacity to reach professional development goals.</p>
      <p>Access our toolkit to gather data from leaders and teachers about the current state of your professional development system, design a plan to reach local goals, and implement system changes that support teachers in the classroom.</p>
      <p>Connect with a community of peers and partners to share solutions.</p>
      <br></br>
      <h4>What does PDredesign allow you to do?</h4>
      <ul>
        <li>Develop goals with colleagues from multiple roles and departments</li>
        <li>Build consensus around high priority areas for growth</li>
        <li>Find ideas and supports for change planning, implementation and course adjustment in one place</li>
        <li>Learn about innovative strategies from districts around the country</li>
      </ul>
      <div class='hidden-md hidden-lg mobile-signup'>
        <h4>Register now</h4>
        <signup is-administrator="{{$state.current.is_administrator}}"></signup>
      </div>
    </div>
  </div>

  <ng-include src="'client/views/shared/footers/landing_footer.html'"></ng-include>
</div>
