<div class="partner-signup">
  <div class="row">
    <div class="col-md-12">
      <h3>PDredesign for Educators</h3>
      <p>We want you to have a voice in redesigning professional development to better meet the needs of teachers and students.</p>

      <p>Share your ideas for improving the professional learning experience for teachers in your district and across the country.</p>

      <br></br>
      <h4>What does PDredesign allow you to do?</h4>
      <ul>
        <li>Collaborate with leaders in your district to improve your PD experience</li>
        <li>Have a voice in redefining how PD can meet teacher needs</li>
      </ul>
      <div class="hidden-md hidden-lg mobile-signup">
        <h4 class="heading">Tell your district about PDredesign</h4>
        <district-message></district-message>
      </div>
    </div>
  </div>


  <ng-include src="'client/views/shared/footers/landing_footer.html'"></ng-include>
</div>
