<div class="partner-signup">
  <div class="row">
    <div class="col-md-12">
      <h3>PDredesign for Partners</h3>

      <p>We're bringing together high quality tools and resources from the field to build a comprehensive toolkit for districts redesigning their professional development systems.</p>
      <p>Partner with us to digitize your tools and expand your reach.</p>
      <p>Use our toolkit with your district partners to plan and implement system change with teachers at the center.</p>
      <p>Create communities of practice among the districts in your network to share solutions.</p>
      <h4>What does PDredesign allow you to do?</h4>
      <ul>
        <li>Integrate with tools you already use</li>
        <li>Connect with a community of educators, districts, and partners</li>
        <li>Build on collective insights from the community about professional development redesign</li>
      </ul>
      <div class='hidden-md hidden-lg mobile-signup'>
        <h4>Register now</h4>
        <signup is-network-partner="{{$state.current.is_network_partner}}"></signup>
      </div>
    </div>
  </div>

  <ng-include src="'client/views/shared/footers/landing_footer.html'"></ng-include>
</div>
