<div class="sidebar">
  <div id="assessment_dashboard_consensus_sidebar" ng-controller="AssessmentDashboardSidebarCtrl">
    <div class='consensus'>
      <p ng-show="noMeetingDate()" class='header'>Consensus meeting not yet scheduled</p>
      <p ng-show="preMeetingDate()" class='header'>Consensus meeting will be on</p>
      <p ng-show="postMeetingDate()" class='header'>Consensus meeting was held</p>
      <div class='outer'>
        <div class='inner'>
          <div ng-show="postMeetingDate()">
            <p class='date'>{{meetingDateDaysAgo()}}</p>
            <p class='month'>days ago</p>
          </div>

          <div ng-show="preMeetingDate()">
            <p class='day'>{{meetingDayName()}}</p>
            <p class='date'>{{meetingDayNumber()}}</p>
            <p class='month'>{{meetingMonthName()}}</p>
          </div>

          <div ng-show="noMeetingDate()">
            <p class='date'>?</p>
          </div>
        </div>
      </div>
    </div>
    <ul class="links">
      <li ng-show="noMeetingDate()">
        <a class="btn btn-block btn-default" ng-click="modifySchedule()" href="">Schedule Consensus Meeting</a>
        <a class="btn btn-block btn-default" ng-click="newReminder()" href="">Send Reminder</a>
      </li>
      <li ng-show="preMeetingDate()">
        <a class="btn btn-block btn-default" ng-click="modifySchedule()" href="">Modify Schedule</a>
        <a class="btn btn-block btn-default" ng-click="createConsensus()" href="" >Create Consensus</a>
        <a class="btn btn-block btn-default" ng-click="newReminder()" href="">Send Reminder</a>
      </li>
      <li ng-show="postMeetingDate()">
        <a class="btn btn-block btn-default" ng-show="consensusStarted()" href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
        <a class="btn btn-block btn-default" ng-hide="consensusStarted()" ng-click="createConsensus()" href="" >Create Consensus</a>
      </li>
      <li ng-show="!$state.includes('assessment_dashboard')">
        <a class="btn btn-block btn-default" href="#/assessments/{{assessment.id}}/dashboard">Dashboard</a>
      </li>
      <li ng-show="reportPresent() && !$state.includes('assessment_report')">
        <a class="btn btn-block btn-default" href="#/assessments/{{assessment.id}}/report">Report</a>
      </li>
      <li>
        <a class="btn btn-block btn-secondary" ng-if="true || noMeetingDate() || preMeetingDate()" ng-click="addLearningQuestion()">Add/Review Learning Questions</a>
      </li>
    </ul>

    <div class="share-report">
      <h3>Share this report</h3>
      <p>Copy this link to share this page.</p>
      <share-url url="{{shareURL}}"></share-url>
    </div>
  </div>

  <div class="content">
    <ng-include src="'client/views/sidebar/why_pd_redesign.html'"></ng-include>
  </div>
</div>
