<div class='dashboard'>
  <div class='row row-bg row-header'>
    <div class="col-md-12">
      <h1  class="greeting">{{assessment.name}}</h1>
      <h4 class="byline">organized by: <a href="#">{{assessment.facilitator.full_name}} </a>
        on {{assessment.created_at | amDateFormat:'MMMM Do, YYYY'}}
      </h4>

      <p id="report-header">
      {{assessment.overview.text}}
      <a  ng-if="assessment.overview.link == 'view_consensus' " href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
      <a  ng-if="assessment.overview.link == 'edit_consensus' " href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">Edit Consensus</a>
      </p>
    </div>
  </div>

  <div class='row'>
    <div id='participants' ng-show="assessment.is_facilitator">
      <div class='row'>
        <div class='col-md-12 header'>
          <h2 ng-pluralize
              count="assessment.participant_count"
              when="{'0': 'No Participants',
                     '1': '{} Participant',
                     'other' : '{} Participants'}">
        </div>
        <div class="participant-list">
          <participant ng-repeat="user in assessment.participants" user="user"></participant>
        </div>
      </div>
    </div>
    <div class='col-md-12 header'>
      <div class="row">
        <div class="col-lg-12">
          <add-new-participants send-invite="true"></add-new-participants>
        </div>
        <div class="col-lg-12">
          <manage-participants auto-show="{{showModal}}"
                               send-invite="true"
                               number-of-requests="{{assessment.number_of_requests}}" ng-if="assessment">
          </manage-participants>
        </div>
        <div class="col-lg-12">
          <invite-user send-invite="true"
                       role="participant">
          </invite-user>
        </div>
      </div>
    </div>

    <div id='messages' ng-show="assessment.messages">
      <div class='col-md-12 header'>
          <h2 ng-pluralize
              count="assessment.messages.length"
              when="{'0': 'No Sent Messages',
                     '1': '{} Sent Message',
                     'other' : '{} Sent Messages'}">
      </div>

      <div class="col-md-12" ng-repeat="message in assessment.messages">
        <message-element kind="Assessment" message="message"></message-element>
      </div>

      <div class="col-md-12">
        <div class="plus-button">
          <a ng-click="createReminder()" href="">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-icon"></i>
            </span>
            <div class="heading">
              Send a Reminder Email
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
