.testimonial
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-top: 1em
  margin-bottom: 1em
  padding-top: 1em
  padding-bottom: 1em
  %testimonial-column
    display: flex
    flex-direction: column
  .testimonial-column-text
    @extend %testimonial-column
  .testimonial-column-picture
    @extend %testimonial-column
    justify-content: center
    align-items: center
    margin: 0 auto
  .quote
    border: 0
    q
      quotes: "\201C" "\201D" "\2018" "\2019"
      font-size: 1.35em
      &:before
        content: open-quote
        font-size: 1em
      &:after
        content: close-quote
        font-size: 1em
.testimonial-background
  background: $off-white
.testimonial-background-alt
  background: $background-color