.name_label
  color: $manage-participants-name-color
.new_level
  color: $manage-participants-name-color
.level_label, .old_level
  color: $manage-participants-labels-color
.level_label, .old_level, .new_level,.name_label, .important_label
  font-weight: bold
.important_label
  color: $manage-participants-primary-label
.cancel_button
  background-color: $manage-participants-cancel-btn-color
  color: white
.permission_transition i.fa
  color: $manage-participants-icon-color

.permissions-modal
  .modal-content
    min-height: 37em
