<div class="container modal-form">
  <h1>{{analysisModal.titleText()}}</h1>
  <button class='btn btn-link close-modal' ng-click='analysisModal.closeModal()'>&times;</button>
  <hr>
  <div ng-if='analysisModal.hasNoInventories()'>
    <div class="row">
      <div class="col-sm-12">
        <div class="notice">
          <h2>You need to have an Inventory to create an Analysis</h2>
          <p>The Data &amp; Tech Analysis needs to be linked to a Data &amp; Tech Inventory. You can also start a new Inventory by clicking below.</p>
          <primary-button icon="fa-bullhorn" click-fn="analysisModal.openInventoryModal()"
                          text="{{ analysisModal.inventoryText() }}"></primary-button>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div ng-show="analysisModal.hasInventories()">
    <alert ng-repeat="alert in analysisModal.alerts" type="{{alert.type}}" close="analysisModal.closeAlert($index)">
      {{alert.msg}}
    </alert>
  </div>
  <div ng-show="analysisModal.hasInventories()">
    <div class="row" ng-if="!analysisModal.userIsNetworkPartner()">
      <div class="col-sm-12">
        <p>Facilitate the Data &amp; Tech Analysis process for your district by creating a new Analysis and selecting an
          Inventory to connect to it. Click <a href="#/analyses" ng-click="analysisModal.gotoAnalyses()">here</a> to
          view current Analyses for your district or to participate in an existing Analysis.</p>
      </div>
    </div>

    <form name='form' ng-submit='analysisModal.save()'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='form-group'>
            <label for='analysis-name' class='required'>Analysis Name</label>
            <input
                type='text'
                required
                class='form-control'
                ng-model='analysisModal.analysis.name'
                id='analysis-name'>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='form-group'>
            <label for='analysis-deadline' class='required'>Due Date</label>
            <div class='input-group datetime'>
              <input
                  id='analysis-deadline'
                  required
                  ng-model='analysisModal.analysis.deadline'
                  type='text'
                  class='form-control'
                  data-format='dd/MM/yyyy hh:mm:ss'>
              <span class='input-group-addon'><i class='fa fa-calendar'></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='form-group'>
            <label for='analysis-inventory-id' class='required'>Inventory</label>
            <select
                ng-disabled="analysisModal.preSelectedInventory"
                class='form-control'
                required
                ng-model='analysisModal.analysis.inventory_id'
                ng-options='inventory.id as inventory.name for inventory in analysisModal.inventories'
                id='analysis-inventory-id'></select>
          </div>
        </div>
      </div>

      <hr>

      <div class='row actions'>
        <div class='col-md-12'>
          <div class='form-group'>
            <button ng-click='analysisModal.closeModal()' class='btn btn-default'>Cancel</button>
            <input type='submit' value='Save' class='btn btn-primary' ng-disabled='form.$invalid'>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
