.about-sidebar
  .sidebar-section
    &:first-of-type
      p
        text-align: left

    margin-bottom: 2em

    h2
      font-size: 1.1em

    p
      text-align: right
      
      a
        font-weight: bold
        color: $primary-color

        &:hover, &:active, &:focus
          text-decoration: none

        &.active
          color: $secondary-color
