version: '3.1'

services:
  web:
    # Optional name
    container_name: 'ruby-from-compose'
    # What image are we building from?
    image: 'ruby-from-compose'
    # Same stuff we were doing from command line
    build:
      context: .
      # We can name our dockerfiles other things
      dockerfile: Dockerfile
    # This specifies what the source code directory is
    # and where to store gems and node packages to reuse
    # them when containers are destroyed
    volumes:
      - .:/code
      - bundler:/code/.bundle
    # We were doing this from the command line before
    ports:
    - "5000:5000"
    - "8080:8080"
    # Start postgres and redis first as part of compose
    depends_on:
    - "postgres"
    - "redis"

  postgres:
    container_name: 'postgres-from-compose'
    image: postgres:9.6.5
    volumes:
      - 'postgres:/var/lib/postgres'
    ports:
      - "5433:5432"
    environment:
      MYSQL_ROOT_PASSWORD: password

  redis:
    container_name: 'redis-from-compose'
    image: redis
    ports:
    - "6379:6379"
    volumes:
      - redis:/var/lib/redis/data
volumes:
  postgres: {}
  redis: {}
  bundler: {}
