$properietary-edsurge-green: #019879

.proprietary-edsurge
  display: flex
  flex-direction: column
  background-color: $properietary-edsurge-green
  color: $secondary-font-color
  padding-bottom: 0.75em
  .text-logo-row
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 1em 0.5em 1em 0.5em
    p
      font-weight: bold
      margin: 0
      align-self: center
    img
      align-self: center
  a
    align-self: center
    color: $properietary-edsurge-green
    font-weight: bold