.report
  .axis
    padding-left: 0
    .question, .col-md-7, .col-md-5, .answer
      padding: 0
    .average
      margin-top: .5em
      border-top: 0.135em solid #dddddd
  .question
    padding-top: .5em
    .answer
      text-align: center
      .fa-circle
        background-color: transparent
        color: #fff
  .fa-circle.scored-1.selected
    color: $scored1
  .fa-circle.scored-2.selected
    color: $scored2
  .fa-circle.scored-3.selected
    color: $scored3
  .fa-circle.scored-4.selected
    color: $scored4


  #next-steps
    .col-md-1.col-sm-1.col-xs-2
      min-height: 4.6em

    margin-top: 0.625em
    .header
      font-size: 1.875em
      font-weight: bold
    .description
      font-size: 1.125em
    .col-md-12
      padding-left: 0
    .row.row-step
      margin: 0em 0em 0.625em 0em
      background-color: #f7f8fa
      border-bottom: 0.13em solid #dcdbd4
      .fa-check
        color: #fff
        font-size: 1.3em
      div
        padding: 0em
      h4.subject
        margin-bottom: 0.13em
        font-size: 1.375em
        font-weight: bold
        .date
          font-size: 0.875em
          font-weight: normal
          font-style: italic
      p.content
        font-size: 1em
        font-weight: lighter
        margin-bottom: 0.3125em
      ul.content
        margin-left: 5%
        li
          font-weight: lighter
      .col-md-1
        background-color: #bebcaf
        color: #fbf7f8
        text-align: center
        font-size: 2em
        padding: 1.25em 0em
      .col-md-11
        font-size: 1em
        padding-left: 0.6em

  .header
    margin-bottom: 2em
