<div class='row row-participant-headers-modal edit_modal_table_head'>
  <div class='col-sm-1' style="margin-left: 9px;">&nbsp;</div>
  <div class='col-sm-4'>Name</div>
  <div class='col-sm-4'>Email Address</div>
</div>
<div id="participantModalholder">
  <div class="participantholder">
    <div ng-repeat="user in participants">
      <div ng-class="{addParticipantAnimation: user.hide === 'yes' }" class='row row-participant-add'>
        <div class='col-sm-1'>
          <img alt="" class="img-polaroid pull-right" ng-src="{{user.avatar}}" width="47">
        </div>
        <div class='col-sm-4'>
          <p class='name'>{{user.full_name}}</p>
        </div>
        <div class='col-sm-4'>
          <p class='info'>{{user.email }}</p>
        </div>
        <div class='col-sm-3 text-center'>
          <div class="btn btn-primary pull-right add_to_assessment_button" ng-click="addParticipant(user)">Add to Assessment</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn cancel_button" data-dismiss="modal" ng-click="hideModal()">Close</button>
</div>
