<div>
  <table data-table-dnd class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <td class="category-header">Priority</td>
        <td>PD Category</td>
        <td>Consensus Score</td>
        <td>Diagnostic Min</td>
        <td>Diagnostic Suggested</td>
      </tr>
    </thead>
    <tbody>
      <tr data-table-dnd-tr ng-repeat="category in categories" class="category" id="{{category.id}}">
        <td>
          <i class="fa fa-ellipsis-v" ng-if="editable"></i>
          {{ $index + 1 }}
        </td>
        <td>{{ category.name }}</td>
        <td>{{ roundedAverage(category.average) }}</td>
        <td>{{ category.diagnostic_min }}</td>
        <td ng-show="category.diagnostic_suggested">Yes</td>
        <td ng-hide="category.diagnostic_suggested">No</td>
      </tr>
    </tbody>
  </table>
  <div class="priority-table-footer">
    <button class="btn btn-secondary" ng-click="savePriority()"> Save Priority</button>
  </div>
</div>

