<div class="avatar">
    <img ng-hide="avatar == ''"
      ng-style="ngWidth"
      ng-src="{{avatar}}"
      class="{{imgclass}}"
      style="{{style}}"
      data-html="true"
      data-placement="{{toolplacement}}"
      data-title="{{title}}"
      data-toggle="tooltip"
      data-original-title="">

      <img ng-show="avatar == ''"
      ng-src="<%= asset_path 'fallback/default.png' %>"
      ng-style="ngWidth"
      class="{{imgclass}}"
      style="{{style}}"
      data-html="true"
      data-placement="{{toolplacement}}"
      data-title="{{title}}"
      data-toggle="tooltip"
      data-original-title="">
</div>
