<div>
  <div class="evidence-discussion col-md-12">
    <span>Consensus Scoring</span>
  </div>
  <div class="col-md-12 evidence-holder">
    <span class="consensus-header">Notes</span>
    <div class="consensus-notes">
      <textarea class="col-md-12" ng-model="question.score.evidence"></textarea>
    </div>
      <div class="consensus-header">Score</div>
    <div class='col-md-10'>
       <div class='row row-values'>
        <div ng-repeat="answer in question.answers">
          <div class="col-md-3">
            <button class='btn btn-block btn-value-{{answer.value}}' ng-click="
            assignAnswerToQuestion(answer, question)" ng-class="">
              {{answer.value}}
            </button>
          </div>
        </div>
       </div>

    </div>
    <div class="col-md-2">
      <button class="btn btn-block"><i class="fa fa-save"></i>Save</button>
    </div>
  </div>
</div>
