<div class="categories">
  <ng-include
    ng-show="isConsensus"
    src="'client/views/shared/responses/sort_by.html'" >
  </ng-include>

  <ng-include
    ng-show="isConsensus"
    src="'client/views/shared/responses/filter_by_role.html'" >
  </ng-include>

  <div class="category" ng-repeat="category in categories">
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <p class="category-label" ng-click="toggleCategoryAnswers(category)">
            <i class="fa fa-chevron-right" ng-class="{'fa-chevron-down' : category.toggled == true}"></i>
            {{category.name}}
          </p>
        </div>
        <div class="row question-container question-{{question.id}}" ng-repeat="question in category.questions">
          <div class="col-md-12 question-row" ng-click="toggleAnswers(question)">
            <div class="col-md-1 question">
              <p class="question-id scored-{{question.score.value}}" ng-show="question.loading">
                <i class="fa fa-spinner fa-spin"></i>
              </p>
              <p id="question-{{question.number}}" class="question-id {{questionColor(question, isConsensus)}}" ng-hide="question.loading">
                <a href="#question-{{question.id}}"></a>
                {{question.number}}
              </p>
            </div>
            <div class="row question-content">
              <div class="col-md-9">
                <p class="question">
                  {{question.headline}}
                </p>
                <p class="content">{{question.content}}</p>
              </div>

              <div class="col-md-1" ng-hide="isConsensus">
                <sample-evidence ng-hide="!question.key_question" key-question="question.key_question"></sample-evidence>
              </div>

              <div class="col-md-2">
                <div class="consensus-percentage-bar" ng-show="isConsensus">
                  <div
                    class="scored-{{answer.value}} bar bar-{{answer.value}}"
                    ng-repeat="answer in question.answers | orderBy:value"
                    ng-style="{height: '{{percentageByResponse(scores, question.id, answer.value, participantCount)}}'}">
                  </div>
                  <div
                    class="scored-skipped bar skipped"
                    ng-style="{height: '{{percentageByResponse(scores, question.id, answer.value, participantCount)}}'}">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-12 answers" ng-show="question.answersVisible">
            <div class="answer" ng-repeat="answer in question.answers" ng-click="assignAnswerToQuestion(answer, question)">
              <div class="left-score col-md-1">
                <ng-include
                  ng-show="isConsensus"
                  src="'client/views/shared/responses/score_count.html'">
                </ng-include>
              </div>

              <div
                class="col-md-11 answer-row value-color-{{answer.value}}"
                ng-class="{scored{{answer.value}}: question.score.value == answer.value}">

                <div class="answer-info-row">
                  <div class="col-md-1 scored-{{answer.value}} answer-value">
                    <span>{{answer.value}}</span>
                  </div>
                  <div class="col-md-3 answer-title title-{{answer.value}}">
                    {{answerTitle(answer.value)}}
                  </div>
                  <div class="col-md-8 answer-description" ng-bind-html="answer.content">
                  </div>
                </div>

                <ng-include
                  ng-hide="isConsensus"
                  src="'client/views/shared/responses/member_question.html'" >
                </ng-include>

              </div>
            </div>
            <div class="left-score col-md-1" ng-if="isConsensus">
              <ng-include
                src="'client/views/shared/responses/score_count.html'">
              </ng-include>
            </div>

            <skip-question
              editable="!isConsensus"
              question="question"
              response-id="{{responseId}}"
              assessment-id="{{assessmentId}}">
            </skip-question>

            <ng-include
              ng-show="isConsensus"
              src="'client/views/shared/responses/evidence.html'" >
            </ng-include>

            <ng-include
              ng-show="isConsensus"
              src="'client/views/shared/responses/consensus_score_entry.html'" >
            </ng-include>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
