<div id='takeaway'>
  <h2 ng-if="!token">Add High Level Takeaways</h2>
  <h2 ng-if="token">High Level Takeaways</h2>

  <div ng-hide="isFacilitator()">
    <p>{{assessment.report_takeaway}}</p>
  </div>

  <div ng-show="isFacilitator()" class="facilitator-takeaway">
    <textarea
      ng-model="assessment.report_takeaway"
      placeholder="Briefly summarize the top 3-5 high level findings about the current state of the professional development system in the district (including common themes, trends, or areas where additional research is needed)">
    </textarea>
    <button class='btn btn-secondary' ng-click="save(assessment)">Save</button>
  </div>
</div>
