<div class="request-access-modal">
  <div class="modal-header">
    <button ng-click="vm.close()" type="button" class="close" aria-hidden="true">×</button>
    <h2>Request Access</h2>
  </div>
  <form name="requestAccessForm">
    <div class="modal-body">
      <span class="question-holder">Select the role you would like to request in this assessment.</span>
      <permissions-info placement="right"></permissions-info>

      <div class="btn-group">
      <span class="btn btn-primary" ng-model="vm.accessLevel" btn-radio="'0'">
        <i class="fa fa-bullhorn"></i><span>Facilitator</span>
      </span>
        <span class="btn btn-primary" ng-model="vm.accessLevel" btn-radio="'1'">
        <i class="fa fa-edit"></i><span>Participant</span>
      </span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success"
              ng-disabled="vm.accessLevel === undefined || vm.accessLevel === ''"
              ng-click="vm.submitAccessRequest()">
        <span>Done</span>
      </button>
    </div>
  </form>
</div>

