<nav class="navbar navbar-default" role="navigation">
  <div class="container navbar-flex">
    <div class="navbar-header">
      <a href="#">
        <%= image_tag 'pdlogo-v3.png' %>
      </a>
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="about.pdredesign">
            About
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="login">Log In</a>
      </li>
      <li>
        <button choose-role-modal type="button" class="btn btn-primary btn-sm">Sign Up</button>
      </li>
    </ul>
  </div>
</nav>
