<nav class="navbar navbar-default" role="navigation">
  <div class="container navbar-flex">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="#">
        <%= image_tag 'pdlogo-v3.png' %>
      </a>
      <ul class="nav navbar-nav">
        <li ng-class="activeClassFor('current_state')" class="cursor">
          <a ui-sref="assessments">Readiness Assessment</a>
        </li>
        <li ng-class="activeClassFor('inventories')" class="cursor">
          <a ui-sref="inventories">Data &amp; Tech Inventory</a>
        </li>
        <li ng-class="activeClassFor('analyses')" class="cursor">
          <a ui-sref="analyses">Data &amp; Tech Analysis</a>
        </li>
        <li ng-class="activeClassFor('about')" class="cursor">
          <a ui-sref="about.pdredesign">About</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right user-menu cursor">
        <li class="hidden-xs hidden-sm">
          <img alt="{{user.name}}" class="polaroid" height="40" ng-src="{{user.avatar}}">
        </li>
        <li>
          <a class="data-toggle" data-toggle="dropdown">
            <i class="fa fa-caret-down"></i>
            {{user.first_name}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#/settings">
                <i class="fa fa-gears"></i>
                Settings
              </a>
            </li>
            <li>
              <a href="#/logout">
                <i class="fa fa-sign-out"></i>
                Sign Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
