<div class="row footer">
  <div class="first logo hidden-xs col-xs-12 col-sm-3">
    <%= image_tag "gates.png" %>
  </div>

  <div class="col-xs-12 col-sm-6 text-center">
    &copy; 1999 – 2014 Bill & Melinda Gates Foundation. All Rights Reserved.
    <br/>
    <span>
      <a href="#/privacy">Privacy Policy</a> |
      <a href="#/terms-of-use">Terms of use</a>
    </span>

  </div>

  <div class="col-xs-12 col-sm-3 text-center">
    <div id="social">
      <span>Stay Connected</span>
      <a href="https://twitter.com/pdredesign" target="_blank"><i class="fa fa-twitter-square"></i></a>
      <a href="https://www.facebook.com/pdredesign" target="_blank"><i class="fa fa-facebook-square"></i></a>
    </div>
  </div>
</div>
