<div class='loading-state' ng-controller="LoadingCtrl" ng-show="loading">
  <div class='load-holder'></div>
</div>

<div class='loading-state' ng-controller="LoadingCtrl" ng-show='loadingPdfCsv'>
  <div class='load-pdf-csv-message'>
    <div class='load-holder'></div>
    <p>This may take a few moments</p>
    <p>Thank you for your patience.</p> 
    <p>If the {{format}} does not download, please contact us at <a href="mailito:support@mail.pdredesign.org">support@mail.pdredesign.org</a>.</p>
  </div>
</div>
