<table class="row">
  <tr>
    <td class="wrapper last">

    <table class="twelve columns">
      <tr>
        <td class="left-text-pad">
          <h2>Hello <%= @participant_name %></h2>
          <br>
          <p class="lead">
            You have been granted <%= @participant_role %> access to <%= @assessment_name %>.
          </p>

          <br>
          <br>
          <p class="lead"> 
          </p>

          <br>
          <br>
          <p class="lead"> 
            <center>
              <a href="<%= @assessment_link %>" taget="_blank" class="button">Go to the Assessment</a>
            </center>
          </p>

          <br>
          <br>
        </td>
        <td class="expander"></td>
      </tr>
    </table>

    </td>
  </tr>
</table>

