<div class="modal-content assessment-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="assessmentModal.hideModal()">&times;</button>
    <h4 class="modal-title">{{assessmentModal.modalTitle}}</h4>
  </div>
  <form name="assessmentModalForm">
    <div class="modal-body">
      <p ng-if="!assessmentModal.userIsNetworkPartner()">
        Facilitate the Readiness Assessment process for your district by creating a new Readiness Assessment.
        <a ng-click="assessmentModal.hideModal()" href="#/assessments">Click here</a>
        to view or participate in an existing Assessment in your district.
      </p>
      <alert ng-repeat="alert in assessmentModal.alerts" type="{{alert.type}}"
             close="assessmentModal.closeAlert($index)">
        {{alert.msg}}
      </alert>
      <div class="row">
        <div class="col-md-12">
          <input class="form-control" type="text" ng-model="assessmentModal.assessment.name" placeholder="Name*"
                 required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <select
              required
              ng-hide="assessmentModal.noDistrict()"
              class="form-control"
              ng-model="assessmentModal.district"
              ng-options="district.text for district in assessmentModal.user.districts">
          </select>
          <div ng-show="assessmentModal.noDistrict()" class="col-md-12">
            <p>
              You have not selected districts that you work with. Please update your profile
              <a href="#/settings" ng-click="assessmentModal.hideModal()">here.</a>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group date datetime">
            <input
                id="due-date"
                name="due-date"
                required
                ng-model="due_date"
                type="text"
                placeholder="Due Date*"
                class="form-control"
                data-format="dd/MM/yyyy hh:mm:ss">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="assessmentModal.hideModal();">Close</button>
      <button type="submit"
              ng-disabled="assessmentModalForm.$invalid"
              ng-click="assessmentModal.create(assessmentModal.assessment)"
              class="btn btn-primary">
        Create
      </button>
    </div>
  </form>
</div>
