<div class="faq-container">
  <div class="row faq filters">
      <div class="col-sm-12">
        <b>Filter By:</b>
          <div class="row filter-container">
            <div class="col-sm-12 col-md-4">
              <span><h4>Role:</h4></span>
              <select id="role-filter" class="form-control" ng-model="selectedRole" ng-change="updatedSelection()">
                <option value="">All Roles</option>
                <option value="{{role}}" ng-selected="selectedRole == role" ng-repeat="role in roles()">
                  {{role}}
                </option>

              </select>
            </div>
            <div class="col-sm-12 col-md-4">
              <span><h4>Topic:</h4></span>
              <select id="topic-filter" class="form-control" ng-model="selectedTopic" ng-change="updatedSelection()">
                <option value="">All Topics</option>
                <option value="{{topic}}" ng-selected="selectedTopic == topic" ng-repeat="topic in topics()">
                  {{topic}}
                </option>

              </select>
            </div>

          </div>
    </div>
  </div>

  <div class="row faq category" ng-repeat="category in categories">
    <div class="col-sm-12">
      <h2>{{category.heading}}</h2>
      <div class="panel-group" id="accordion">
        <div class="panel"  ng-repeat="question in category.questions | propertyFilter:'role':selectedRole | propertyFilter:'topic':selectedTopic">
          <div class="panel-heading" ng-click="toggleQuestion(question)">
            <h3 class="panel-title">
              <a href="">
                {{question.content}}
              </a>
            </h3>
          </div>
          <div id="question-{{question.id}}">
            <div 
              class="panel-body"
              collapse="!question.visible"
              ng-bind-html="question.answer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Is your question not listed here?</h3> 
      <a href="mailto:support@mail.pdredesign.org?subject=I%20have%20a%20question"
         class="btn btn-primary">Ask Us a Question</a>
    </div>
  </div>

</div>

