<div class="hero-header">
  <div class="hero-banner">
    <h1>PDredesign</h1>
    <p class="text-center">A digital toolkit and community of practice dedicated to improving
      <u>professional development</u> for teachers.</p>
    <button choose-role-modal type="button" class="btn btn-default">Sign Up</button>
  </div>
</div>

<div class="body">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>What can PDredesign do for you?</h1>
    </div>
  </div>
  <div class="row icon-row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4 icon-column text-center">
          <%= image_tag('redesign_or_improve.png') %>
          <p class="text-center">Redesign or improve your district's PD using high quality tools</p>
        </div>
        <div class="col-md-4 icon-column text-center">
          <%= image_tag('collaborate.png') %>
          <p class="text-center">Collaborate with stakeholders to create real solutions</p>
        </div>
        <div class="col-md-4 icon-column text-center">
          <%= image_tag('connect.png') %>
          <p class="text-center">Connect with other districts facing similar challenges</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row testimonial testimonial-background">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6 testimonial-column-text">
          <blockquote class="quote">
            <q>The Readiness Assessment has been critical to improving our conversations about professional
              development.</q>
            <footer class="quote-footer">
              <cite>Bryan Joffe, AASA</cite>
            </footer>
          </blockquote>
          <p class="subtext">Understand how your district's current PD system is structured and determine where to focus collective
            energy for improvement.</p>
          <button type="button" class="btn btn-secondary">Learn More</button>
        </div>
        <div class="col-md-6 testimonial-column-picture">
          <%= image_tag('readiness_assessment.png') %>
          <h2>The Readiness Assessment</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-footer">
  <div class="hero-footer-banner">
    <h1 class="text-center">Every year, $18 billion is spent on professional development, but only 29% of teachers are
      satisfied with their PD offerings.</h1>
    <button choose-role-modal type="button" class="btn btn-default">Sign Up</button>
    <p class="text-center">Redesign your professional development with PDredesign.</p>
  </div>
</div>
