<div class='assessments'>

  <div ng-repeat="assessment in assessments
     | filter:{district_name: selectedDistrict}
     | filter: permissionsFilter(selectedPermission)
     | filter:{status: selectedStatus}">

    <div class='assessment'>
      <div class='overview assessment-background-color disable-assessment'>
        <div class="type">
          {{assessment.status}}
        </div>

        <div class="status" ng-switch on="assessment.status">
          <div ng-switch-when="consensus">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa {{consensusReportIcon(assessment)}} fa-stack-1x"></i>
            </span>
          </div>
          <div ng-switch-when="assessment">
            <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <p class="fa-stack-1x percent-complete">{{roundNumber(assessment.percent_completed)}}%</p>
            </span>
          </div>
          <div ng-switch-default>
           <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa {{draftStatusIcon(assessment)}} fa-stack-1x"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="assessment-content">
        <div class="assessment-details">
          <div class='disable-assessment details'
            ng-class="activeAssessmentLink(assessment)"
            ng-click="gotoLocation(responseLink(assessment))">
            <h3 class='name'>{{assessment.name}}
              <i ng-hide="assessment.has_access" class="fa fa-lock"></i>
            </h3>
            <small>Facilitated by: {{assessment.facilitator.full_name}}</small>
          </div>
          <div class='links'>
            <div class="repeat" ng-repeat="link in orderLinks(assessment.links)">
              <assessment-links
              data-title="{{link.title}}"
              data-active="{{link.active}}"
              data-type="{{link.type}}"
              data-id="{{assessment.id}}"
              data-consensus-id="{{assessment.consensus.id}}"
              data-role="{{role}}">
              </assessment-links>
            </div>
          </div>
        </div>

        <div class='assessment-footer'>
          <div class="meta">
            <div ng-show="isNetworkPartner()" class='col-md-4 col-xs-3 district-name disable-assessment'>
              {{assessment.district_name}}
            </div>
            <span class='category'>Participants</span>
            <span class='stat'>{{assessment.participant_count}}</span>
            <span class='category'>Completed</span>
            <span class='stat'>{{assessment.completed_responses}}</span>
          </div>
          <div class="meeting">
            <span class='category'>Meeting</span>
            <span class='stat'>{{meetingTime(assessment.meeting_date)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
