<div class='assessments'>

  <div ng-repeat="assessment in assessments
     | filter:{district_name: selectedDistrict}
     | filter: permissionsFilter(selectedPermission)
     | filter:{status: selectedStatus}">

    <div class='row assessment'>
      <div class='col-md-1 col-xs-2 overview assessment-background-color disable-assessment'>
        <div class="type">
          {{assessment.status}}
        </div>

        <div class="status" ng-switch on="assessment.status">
          <div ng-switch-when="consensus">
            <i class="fa {{consensusReportIcon(assessment)}}"></i>
          </div>
          <div ng-switch-when="assessment">
            {{roundNumber(assessment.percent_completed)}}%
          </div>
          <div ng-switch-default>
            <i class="fa {{draftStatusIcon(assessment)}}"></i>
          </div>
        </div>

      </div>

      <div class='col-md-9 col-xs-9 disable-assessment details'
        ng-class="activeAssessmentLink(assessment)"
        ng-click="gotoLocation(responseLink(assessment))">
        <div class='row no-gutters'>
          <div class='col-md-12 col-xs-12 '>
            <h2 class='name'>{{assessment.name}}
              <i ng-hide="assessment.has_access" class="fa fa-lock"></i>
            </h2>
          </div>
        </div>
        <div class='row stat-row'>
          <div class='col-md-3 col-sm-3 col-xs-3 no-gutter-left'>
            <p class='assessment-stat'>
              <span class='category'>Participants</span>
              <span class='stat'>{{assessment.participant_count}}</span>
            </p>
          </div>
          <div class='col-md-4 col-sm-3 col-xs-3 no-gutter-left'>
            <p class='assessment-stat'>
            <span class='category'>Completed</span>
            <span class='stat'>{{assessment.completed_responses}}</span>
            </p>
          </div>
          <div class='col-md-5 col-sm-6 col-xs-4 no-gutter-left'>
            <p class='assessment-stat'>
            <span class='category'>Meeting</span>
            <span class='stat'>{{meetingTime(assessment.meeting_date)}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class='col-md-2 col-xs-1 links'>
        <div class="repeat" ng-repeat="link in orderLinks(assessment.links)">
          <assessment-links
          data-title="{{link.title}}"
          data-active="{{link.active}}"
          data-type="{{link.type}}"
          data-id="{{assessment.id}}"
          data-consensus-id="{{assessment.consensus.id}}"
          data-role="{{role}}">
          </assessment-links>
        </div>
      </div>

    </div>
    <!-- I added bootstraps center-block class here to center the avatar img and it's parent. Shouldn't cause any problems though.  -->
    <div class='row assessment-footer'>
      <div class='avatar col-md-1 col-xs-2 center-block assessment-background-color disable-assessment'>
        <avatar
        data-imgclass="media-object img-circle center-block"
        data-width="28"
        data-has-tooltip="true"
        data-name="{{assessment.facilitator.full_name}}"
        data-avatar="{{assessment.facilitator.avatar}}"
        data-role="{{assessment.facilitator.team_role}}">
        </avatar>
      </div>

      <div class='col-md-7 col-xs-7 disable-assessment'>
        <div class="media">
          <p class="pull-left subheading-text">{{assessment.subheading.text}}</p>
          <div class="participants-details">
            <div ng-repeat="p in assessment.subheading.participants">
              <avatar
                data-has-tooltip="true"
                data-style="margin-right:0.375em;"
                data-name="{{p.full_name}}"
                data-avatar="{{p.avatar}}"
                data-role="{{p.team_role}}"
                data-width="28"
                data-toolplacement="bottom"
                data-imgclass="pull-left media-object img-circle">
              </avatar>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="isNetworkPartner()" class='col-md-4 col-xs-3 district-name disable-assessment'>
        {{assessment.district_name}}
      </div>
    </div>

  </div>
</div>
