<div class='dashboard'>
  <div class='row row-bg row-header'>
    <div class="col-md-12">
      <h1  class="greeting">{{assessment.name}}</h1>
      <h4 class="byline">organized by: <a href="#">{{assessment.facilitator.full_name}} </a>
      on {{assessment.created_at | amDateFormat:'MMMM Do, YYYY'}}
      </h4>

      <p id="report-header">
        {{assessment.overview.text}}
        <a  ng-if="assessment.overview.link == 'view_consensus' " href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
        <a  ng-if="assessment.overview.link == 'edit_consensus' " href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">Edit Consensus</a>
      </p>
      <assessment-priority
        data-editable="false"
        data-assessment-id="{{assessment.id}}">
      </assessment-priority>
    </div>
  </div>

  <div class='row'>
        <div id='participants' ng-show="assessment.is_facilitator">
          <div class='row'>
              <div class='col-md-12 header'>
                <h2>
                  <span class='stat'>{{assessment.participant_count}} </span>
                  Participants
                </h2>
              </div>
              <div class='col-md-6 col-sm-6' ng-repeat="user in assessment.participants">
                <div class='row row-participant' >
                  <div class='col-md-2 col-sm-2 col-xs-2'>
                    <avatar data-avatar="{{user.avatar}}"  data-width="100%" ></avatar>
                  </div>
                  <div class='col-md-6 col-sm-6 col-xs-6'>
                    <p class='name'>{{user.full_name}}</p>
                    <p class='email'>{{user.email}}</p>
                  </div>
                  <div class='col-md-4 col-sm-4 col-xs-4'>
                    <div class='status'>
                      <response-status data-user="user"></response-status>
                      <p class="date">{{user.status_date | amDateFormat:'MMMM Do, YYYY'}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class='col-md-12 header'>
          <manage-participants auto-show="{{showModal}}" data-send-invite="true" data-assessment-id="{{assessment.id}}" data-number-of-requests="{{assessment.number_of_requests}}" ng-if="assessment">
          </manage-participants>

          <invite-user data-send-invite="true" data-assessment-id="{{assessment.id}}" data-role="participant">
          </invite-user>
        </div>

        <div id='messages' ng-show="assessment.messages">
          <div class='col-md-12 header'>
            <h2>
              <span class='stat'>{{assessment.messages.length}}</span> Sent Messages
            </h2>
          </div>

          <div ng-repeat="message in assessment.messages">
            <div class='row'>
              <div class="col-md-12 col-sm-12">
                <div class="row row-message">
                  <a href="">
                    <div class="col-md-1 col-sm-1 col-xs-2">
                      <i class="fa {{messageIcon(message.category)}}"></i>
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-10 message-content">
                      <h4 class="subject">
                        {{messageTitle(message.category)}}
                        <small class="date">- {{message.sent_at| amDateFormat:'MMMM Do, YYYY'}}</small>
                      </h4>
                      <p class="content">{{message.teaser}}</p>
                    </div>
                  </a>
                </div>

              </div>
            </div>

          </div>
        </div>
    </div>
</div>
