<div class="row secondary user-header">
    <div class="col-md-12">
      <h1>Hi {{user.first_name}}</h1>
      <p>This is your Readiness Assessment dashboard. Create a new assessment or check the status of an existing one to proceed.</p>
    </div>
  </div>
  <div class="col-md-12">
    <div ng-show="isNetworkPartner()">
      <div id="assessments-filter">
        <div class="col-md-4">
          <district-filter
            districts="districts"
            selected-district="selectedDistrict">
          </district-filter>
        </div>
        <div class="col-md-4">
          <permission-filter
            types="permissionTypes"
            selected-permission="selectedPermission">
          </permission-filter>
        </div>

        <div class="col-md-4">
          <status-filter
            statuses="statuses"
            selected-status="selectedStatus">
          </status-filter>
        </div>
      </div>
    </div>
    <!-- <start-assessment></start-assessment> -->
    <div ng-include src="'client/views/assessments/assessment-list.html'" scope="this"></div>
  </div>
</div>
