<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <article class="articleWrapper">

      <h1 class="text-bold">Privacy and Information Security Policy for www.sevenzo.org (“Privacy Policy” or “Policy”)</h1>
      <p><strong>Effective Date: May 21, 2015</strong></p>
      <p>Welcome. This Policy is designed to help you understand generally how www.sevenzo.org (“Sevenzo Website” or the “Site”), collects personally identifying information about you and how your personal information may be used and disclosed. The
        Sevenzo Website is managed by Sevenzo (the “Company,” “we,” “us” etc.), a nonprofit organization existing under the laws of the State of Pennsylvania, U.S.A. You may contact us at our Address For Legal Notices below. This Policy applies to
        information that personally identifies you (other than publicly available information) (“personal information”) collected on www.sevenzo.org or any additional Company Web properties or third-party sites managed by tSevenzo, including but not
        limited to the Sevenzo Website, or, where indicated, other information you provide to us.</p>
      <p>USE OF THE SITE OR PROVISION OF ANY PERSONAL INFORMATION CONSTITUTES AGREEMENT TO THIS POLICY. DO NOT USE THE SITE OR PROVIDE INFORMATION (OR ALLOW OTHERS TO DO SO ON YOUR BEHALF) IF YOU (AND YOUR PRINCIPAL IF YOU ARE ACTING AS AGENT) DO
        NOT AGREE WITH ALL OF THE TERMS OF USE INCLUDING THIS POLICY AND ANY APPLICABLE SUPPLEMENTAL PRIVACY POLICY.</p>
      <hr>
      <h2>Table of Contents</h2>
      <ol>
        <li>How Does This Policy Relate to Use of the Site?</li>
        <li>Information We Collect That You Do Not Provide</li>
        <li>Information We Collect That You Do Provide</li>
        <li>Information You Provide About Others</li>
        <li>What We Generally Do with Personal Information Collected</li>
        <li>Your Ability to Update Personal Information</li>
        <li>Information Security</li>
        <li>Your Particular Consents</li>
        <li>Children</li>
        <li>Identity Theft</li>
        <li>Amendments</li>
        <li>Information About Enforcement of Our Policy</li>
      </ol>
      <hr>
      <h2>1. How Does This Policy Relate to Use of the Site?</h2>
      <p>This Policy is part of and incorporated into the Site Terms of Use (“Terms of Use”), which is the contract between you and the Company governing use of the Site. Parts of the Terms of Use affect this Policy, so, unless you have already done
        so, please review them before using the Site. Terms used but not defined in this Policy have the definitions in the Terms of Use.</p>
      <p>This Policy is supplemented by additional policies relevant to particular activities, and each of the supplemental policies is incorporated into this Policy. Here are examples of areas in which you will encounter supplemental privacy
        policies but this list is not complete: if a supplemental policy is included on the Site with respect to a particular activity, or if one is included on a Third Party site relating to the mission of the Company or Site, those supplemental
        policies will also apply and are also incorporated.</p>
      <h2>2. Information We Collect That You Do Not Provide</h2>
      <p>Sometimes we collect personal information without you having to enter any information on the Site. For example, we may receive personal information from public sources or from third parties (which we may combine with other information from
        other sources).</p>
      <p>In addition, we collect some information automatically from visitors to the Site, for example through the use of “cookies”, “web beacons”, and other tracking mechanisms. We collect at least the following: your domain name and host for
        Internet access; the Internet address of the site from which you came; the date and time of your access; your computer’s IP address and information about its operating system, browser and host; the date and time you access the Site and the
        pages you visit. If you do not want to receive cookies, you may set your browser to reject them. However, if you turn cookies off, you may not have access to some of the Site’s services and features. Unless you have adjusted your browser
        setting so that it will refuse cookies, our system will issue cookies when you access the Site. We also may employ Web beacons from third parties to help us compile aggregated statistics regarding the operations of our site. We prohibit Web
        beacons on our site from being used by third parties to collect or access your personal information.</p>
      <h2>3. Information We Collect That You Do Provide</h2>
      <p>It is always your choice, or the choice of anyone acting for you, whether to provide personal information. However, some must be provided to participate in certain programs or activities (such as to enter a Drawing or contest), so the
        decision not to provide information might limit or eliminate certain functions of the Site or the ability to participate at all. Other information is up to your good judgment, e.g., do not provide personal information about yourself that
        could be misused by others in a chat room, bulletin board, blog or similar forum and do not provide personal information about others without their permission. The kinds of personal information we tend to request about you or others include
        but are not limited to your name, email address, organization name, job title, city, state / province, region, age, locations for internet access and devices used. Additional information about what we collect is available in any supplemental
        privacy policies for particular activities.</p>
      <h2>4. Information You Provide About Others</h2>
      <p>Do not supply personal information about others unless you are authorized or required to do so by applicable law or contract and you consent to the Terms of Use (including this Policy and supplemental policies) on behalf of yourself and the
        “data subject” (the person about whom you supply personal information). No personal information or images of students under the age of 18 should be shared without written parent consent, including without limitation student information that
        may be protected under the Family Educational Rights and Privacy Act). Before supplying personal information about others (except as otherwise allowed by law or contract), you must make available for the data subject’s review, and obtain
        their written consent to, said Terms of Use and policies. In the case of anyone under the age of 18, such written consent must be by their parent. By submitting any personal information about others, you represent and warrant that you are
        authorized to do so and that you did all of the foregoing before submitting the information. If applicable law allows you to supply the information without doing the foregoing, you represent and warrant that you have abided by that law and
        that it allows us to receive and Disclose the information under this Policy without any further action on our part. You agree to indemnify, defend and hold us harmless against any failure by you to comply with this paragraph.</p>
      <p>The Company works with Third Parties on certain programs, and often those Third Parties own and/or are responsible for that program’s Web site. In those cases, if you provide personal information, you will be giving it to a third party and
        their privacy policy will apply. You agree that if they provide it to us then we may apply our Policy to what we receive.</p>
      <h2>5. What We Generally Do with Personal Information Collected</h2>
      <p>In general, we use personal information we collect to pursue our mission and operations and to engage in the activity (and related activities) for which we collect it. Specifically, we may use your personal information to:</p>
      <ul>
        <li>to fulfill our obligations to you and to respond to any questions or requests;</li>
        <li>to contact you about material changes in our site terms or policies;</li>
        <li>to comply with the law or in good faith belief that such action is necessary to conform with the requirements of law or to comply with legal process served on us;</li>
        <li>to provide to third parties as a result of any reorganization process;</li>
        <li>if you sign up for a blog, feed or newsletter, we may put you on our mailing list or even the list of a Third Party who we think has a similar mission.</li>
        <li>if you apply for a drawing or contest or program, we’ll use the information as specified in the Official Rules for that drawing or contest or program.</li>
      </ul>
      <p>Further information is available in the supplemental policies for some activities, but you should assume that we will use all information for all lawful purposes. Subject to applicable law, we reserve the right to make all lawful, worldwide
        uses of personal information, including without limitation, to: collect, use, access (or bar access), process, fulfill, disclose, display, share, respond to legal process or otherwise exercise our rights under applicable law, transfer,
        store, verify, enforce, delete, and otherwise deal with personal information, and information other than personal information (collectively “Disclose”).</p>
      <h2>6. Your Ability to Update Personal Information</h2>
      <p>To the extent our systems require your personal information, in general, they provide the ability for you to update your information. If you have any questions about what personal information about you the Company retains, please contact us
        at&nbsp;<a href="mailto:hi@sevenzo.org">hi@sevenzo.org</a>. The Company endeavors to keep your personal information accurate and up to date. If your personal information has changed, you may submit your new information there as well. Some
        activities allow some updating, e.g., you may update your www.sevenzo.org profile by using the functionality in that section of the Site.</p>
      <p>We keep personal information for as long as we think is necessary or advisable and we reserve the right to retain it to the full extent not prohibited by law. We may discard personal information in our discretion, so you should retain your
        own records, and not rely upon our storage of any personal information or other data.</p>
      <h2>7. Information Security</h2>
      <p>We use reasonable technical and organizational measures to protect the personal information received from our users from unauthorized use or disclosure.</p>
      <h2>8. Your Particular Consents</h2>
      <p>In addition to consenting to the Terms of Use, including this Policy (and any relevant supplemental policies), the Company is interested in letting you know about, and receiving your particular consent to, a few activities relating to
        personal information that will help us to deal with personal information that is Disclosed in furtherance of our mission, operations and programs. These are described immediately below.</p>
      <ul>
        <li><b>Consent to International Transfer and Disclosure of Personal Information.</b>&nbsp;We are involved in programs and activities in a variety of countries. You agree that the Company and those with whom we share personal information
          (“Recipients”) may Disclose and transfer your personal information worldwide (including outside the European Economic Area, if you are based in the European Economic Area) for any purpose relating to our or their mission, operations,
          programs, or otherwise that is not allowed or prohibited by this Policy.</li>
        <li><b>Consent to Electronic Notice If There is a Security Breach:</b>&nbsp;If we or a Recipient is required to provide notice of unauthorized access or other invasion of certain security systems, you agree that we (or they) may do so when
          required (or voluntarily) by posting notice on our Site or sending notice to any email address we have for you, in our (or their) good faith discretion. You agree that notice to you will count as notice to others for whom you are acting,
          and agree to pass the notice on to them.</li>
      </ul>
      <h2>9. Children</h2>
      <p>We do not want to collect information from children. Do not provide any personal information unless you are at least 13 years of age, and please caution your children not to provide any. If a child under 13 has provided personal
        information, a parent or guardian may so inform us by writing us at Our Address for Legal Notices (see below) and we will use commercially reasonable efforts to delete it from our database, subject to applicable law and this Policy.</p>
      <h2>10. Identity Theft</h2>
      <p>If anyone believes they’re a victim of identity theft entitled by law to request information from us, write us at Our Address For Legal Notices and we’ll explain what information we require in order to respond. After receiving that
        information, we’ll supply (without charge) information we then have that we are legally required to provide (subject to applicable law and reserving all rights and defenses).</p>
      <h2>11. Amendments</h2>
      <p>We will be changing what we do and how and why we Disclose data periodically—this Policy describes what we currently envision, but that will change as we change. You agree that this Policy amends and replaces any previous privacy
        policy(ies). We may further amend all or part of this Policy in the same way that we make amendments to our Terms of Use and such amended versions will be posted on this page.</p>
      <h2>12. Information About Enforcement of Our Policy</h2>
      <p>This Policy is part of and supplemented by our Terms of Use, which together with any supplemental privacy policy form a contract. If there is a conflict between the Terms of Use and this Policy, the latest version of this Policy will
        control. We and you are bound by the Terms of Use, including this Policy. If you think we are in default, you may contact us by writing to Our Address For Legal Notices. There are no third party beneficiaries of this Policy.</p>
      <p>Our Address for Legal Notices:</p>
      <p>Sevenzo<br>
        6401 Penn Avenue, 3rd Floor, Pittsburgh, PA 15206<br>
        Attn: Legal</p>

    </article>
  </div>
</div>
