<div class="dashboard">
  <div class="row row-bg row-header">
    <div class="col-md-12">
      <h1 class="greeting">{{analysisDashboard.currentAnalysis.name}}</h1>
      <h4 class="byline">organized by: <a href="#">{{analysisDashboard.currentAnalysis.facilitator.full_name}} </a>
        on {{analysisDashboard.currentAnalysis.created_at | amDateFormat:'MMMM Do, YYYY'}}
      </h4>
    </div>
  </div>
  <div class="row">
    <div id="participants">
      <div class="row">
        <div class="col-md-12 header">
          <h2 class="participant-count"
              ng-pluralize count="analysisDashboard.currentAnalysis.participant_count"
              when="{'0': 'No Participants',
                                  '1': '{} Participant',
                                  'other': '{} Participants'}">
          </h2>
        </div>
      </div>
      <hr class="dashboard-hr"/>
      <div class="participant-list">
        <participant ng-repeat="user in analysisDashboard.participants" user="user"></participant>
      </div>
    </div>
    <div class="row">
      <member-list members="analysisDashboard.members"></member-list>
      <manage-members context="analysis"
                      automatically-send-invitation="true"
                      ng-if="analysisDashboard.inventory.is_facilitator_or_participant">

      </manage-members>
    </div>
    <div id="messages">
      <div class="col-md-12 header">
        <h2 ng-pluralize count="analysisDashboard.messages.length"
            when="{'0': 'No Sent Messages',
                                 '1': '{} Sent Message',
                                 'other': '{} Sent Messages'}">

        </h2>
      </div>
      <div class="col-md-12" ng-repeat="message in analysisDashboard.messages">
        <message-element kind="Analysis" message="message"></message-element>
      </div>
    </div>
    <div class="col-md-12">
      <div class="plus-button">
        <a ng-click="analysisDashboard.createReminder()" href="">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-icon"></i>
          </span>
          <div class="heading">
            Send a Reminder Email
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
