<div class="assign-assessment">
  <div class='row row-messages'>
    <div class='col-md-12'>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
  <div class="row secondary">
    <div class="col-md-12">
      <h1>Facilitate a new Data &amp; Tech Inventory</h1>
      <p>Edit your inventory settings, add &amp; manage participants, draft a email message, and send
        invitations.</p>
    </div>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 1</p>
      <p class='wizard-instruction'> This is the name and details others will see for this inventory.</p>
    </div>
    <tool-details model="inventoryAssign.currentInventory"></tool-details>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 2</p>
      <p class='wizard-instruction'>
        These are the individuals from the district who will receive an invite to participate in the inventory.</p>
    </div>
    <create-participants model="inventoryAssign.currentInventory"></create-participants>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 3</p>
      <p class='wizard-instruction'> Each participant will receive an email invite. You can customize the email message
        here.</p>
    </div>
    <invite-message model="inventoryAssign.currentInventory" district="district"></invite-message>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 4</p>
      <p class='wizard-instruction'>Learning Questions help your team focus on key aspects of the technology
        implementation.</p>
    </div>
    <learning-question modal="false"></learning-question>
  </div>
  <br/>
  <div class="row row-wizard">
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary send-btn btn-lg pull-right" name="commit" type="submit" id="assign_assessment"
              ng-click='assignAndSave(model)'>
        <i class="fa fa-spinner fa-spin" ng-show="saving"></i>
        <i class="fa fa-envelope-o"></i> Send Invitation
      </button>
    </div>
  </div>
</div>
