<div class="assign-assessment">
  <div class='row row-messages'>
    <div class='col-md-12'>
      <alert ng-repeat="alert in analysisAssign.alerts" type="{{alert.type}}" close="analysisAssign.closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
  <div class="row secondary">
    <div class="col-md-12">
      <h1>Facilitate New Data &amp; Tech Analysis</h1>
      <p>Edit your Analysis settings, invite and manage participants, and draft an email message.</p>
    </div>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 1</p>
      <p class='wizard-instruction'> These are the details others will see for this Data &amp; Tech Analysis.</p>
    </div>
    <tool-details model="analysisAssign.currentAnalysis" disable-district=true show-inventory=true disable-inventory=true></tool-details>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 2</p>
      <p class='wizard-instruction'>
        These are the individuals who will be invited to participate.</p>
    </div>
    <create-participants model="analysisAssign.currentAnalysis"></create-participants>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 3</p>
      <p class='wizard-instruction'> Each participant will receive an email invitation. You can customize the email message
        here.</p>
    </div>
    <invite-message model="analysisAssign.currentAnalysis" district="analysisAssign.district"></invite-message>
  </div>
  <div class='row row-wizard'>
    <div class='col-md-2'>
      <p class='wizard-step'>Step 4</p>
      <p class='wizard-instruction'>Learning Questions help your team focus on key aspects of your district's data and technology
        implementation.</p>
    </div>
    <learning-question modal="false" context="analysis"></learning-question>
  </div>
  <br/>
  <div class="row row-wizard">
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary send-btn btn-lg pull-right" name="commit" type="submit" id="assign_assessment"
              ng-click='analysisAssign.assignAndSave(analysisAssign.currentAnalysis)'>
        <i class="fa fa-spinner fa-spin" ng-show="saving"></i>
        <i class="fa fa-envelope-o"></i> Send Invitation
      </button>
    </div>
  </div>
</div>
