<div class="dashboard">
  <div class="row row-bg row-header">
    <div class="col-md-12">
      <h1 class="greeting">{{inventoryDashboard.inventory.name}}</h1>
      <h4 class="byline">organized by: <a href="#">{{inventoryDashboard.inventory.facilitator.full_name}} </a>
        on {{inventoryDashboard.inventory.created_at | amDateFormat:'MMMM Do, YYYY'}}
      </h4>
    </div>
  </div>
  <div class="row">
    <div id="participants">
      <div class="row">
        <div class="col-md-12 header">
          <h2 class="participant-count"
              ng-pluralize count="inventoryDashboard.inventory.participant_count"
                           when="{'0': 'No Participants',
                                  '1': '{} Participant',
                                  'other': '{} Participants'}">
          </h2>
        </div>
      </div>
      <hr class="dashboard-hr" />
      <div class="col-md-6 col-sm-6" ng-repeat="user in inventoryDashboard.participants">
        <participant user="user"></participant>
      </div>
    </div>
    <div class="col-md-12 header" ng-if="inventoryDashboard.inventory.is_facilitator_or_participant">
      <div class="row">
        <div class="col-lg-12">
          <add-inventory-users-link send-invite="true"></add-inventory-users-link>
        </div>
        <div class="col-lg-12">
          <manage-inventory-permissions-link auto-show="false"
                                             send-invite="true"
                                             number-of-requests="{{inventoryDashboard.inventory.number_of_requests}}">
          </manage-inventory-permissions-link>
        </div>
        <div class="col-lg-12">
          <invite-inventory-user-link send-invite="true"
                                      role="participant">
          </invite-inventory-user-link>
        </div>
      </div>
    </div>
    <div id="messages" ng-if="inventoryDashboard.inventory.messages">
      <div class="col-md-12 header">
        <h2 ng-pluralize count="inventoryDashboard.inventory.messages.length"
                          when="{'0': 'No Sent Messages',
                                 '1': '{} Sent Message',
                                 'other': '{} Sent Messages'}">

        </h2>
      </div>
      <div class="col-md-12" ng-repeat="message in inventoryDashboard.inventory.messages">
        <message-element message="message"></message-element>
      </div>
    </div>
    <div class="col-md-12">
      <div class="plus-button">
        <a ng-click="inventoryDashboard.createReminder()" href="">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-icon"></i>
          </span>
          <div class="heading">
            Send Reminder Email
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
