<div id='inventory-data-entry-form-modal' class='container'>
  <h1>Add Data Entry</h1>
  <button class='btn btn-link close-modal' ng-click='inventoryDataEntryModal.closeModal()'>&times;</button>

  <hr>

  <form name='form'>
    <!-- GENERAL DATA QUESTIONS -->
    <div class='row'>
      <div class='col-sm-6'>
        <div class='form-group'>
          <label for='data-entry-data-type'>
            Pricing Structure
            <span class='field-info'>How is the pricing structured?</span>
          </label>
          <select 
              class='form-control'
              ng-model='inventoryDataEntryModal.dataEntry.general_data_question.data_type'
              ng-options='name for (id, name) in inventoryDataEntryModal.constants.data_entry.general_data_question.data_type_options'
              id='data-entry-data-type'></select>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='form-group'>
          <label for='data-entry-point-of-contact-name'>Point of Contact Name</label>
          <input
              type='text'
              class='form-control'
              ng-model='inventoryDataEntryModal.dataEntry.general_data_question.point_of_contact_name'
              id='data-entry-point-of-contact-name'>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='form-group'>
          <label for='data-entry-point-of-contact-department'>Point of Contact Department</label>
          <input
              type='text'
              class='form-control'
              ng-model='inventoryDataEntryModal.dataEntry.general_data_question.point_of_contact_department'
              id='data-entry-point-of-contact-department'>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-9'>
        <div class='form-group'>
          <label for='data-entry-data-capture'>
            Hosting
            <span class='field-info'>Is this data captured? If no, you may leave the remaining questions blank.</span>
          </label>
          <div class='control-list inline'>
            <label ng-repeat='(id, name) in inventoryDataEntryModal.constants.data_entry.general_data_question.data_capture_options'>
              <fake-radio model='inventoryDataEntryModal.dataEntry.general_data_question.data_capture' value='{{name}}'></fake-radio>
              {{name}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class='row actions'>
      <div class='col-md-12'>
        <div class='form-group'>
          <button ng-click='inventoryDataEntryModal.closeModal()' class='btn btn-default'>Cancel</button>
          <button ng-click='inventoryDataEntryModal.save()' class='btn btn-primary'>Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
