<div class="inventory-schedule-container">
  <div class="inventory-schedule">
    <div class="row date-container">
      <div class="col-sm-3 calendar">
        <div class="date-month">
          {{ inventorySchedule.month }}
        </div>
        <h1 class="date-day">
          {{ inventorySchedule.day }}
        </h1>
      </div>
      <div class="col-sm-8 date-info">
        <h4>Inventory Due</h4>
        {{ inventorySchedule.formattedDueDate }}
        <div ng-pluralize count="inventory.participant_count"
                          when="{'0': 'No Participants',
                                 '1': '{} Participant',
                                 'other': '{} Participants'}"></div>
      </div>
    </div>
  </div>
  <div class="inventory-schedule-buttons" ng-hide="inventorySchedule.onlySchedule">
    <button ui-sref="inventories_report({inventory_id: inventory.id})" class="btn btn-block btn-primary separator-margin">Go To Report</button>
    <button class="btn btn-block btn-default separator-margin" ng-if="inventory.is_facilitator_or_participant" ng-click="inventorySchedule.modifyDeadline()">Modify Schedule</button>
    <button ng-click="inventorySchedule.displayLearningQuestions()"
            class="btn btn-block btn-secondary separator-margin">Add/Review Learning Questions</button>
  </div>
</div>
