<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="inventoryDataEntryListModal.closeModal()">&times;</button>
    <h4>Choose the data entries relevant to this PD category</h4>
  </div>
  <div class="modal-body">
    <p>Select the data sets that contribute to the progress in this realm of PD development.</p>
    <form name='form'>
      <div class='form-group'>
        <searchable-list title="{{selectedDataEntries.length}} Data Entries">
          <div ng-repeat='selectedDataEntry in selectedDataEntries' class='control-list'>
            <label>
              <fake-checkbox model='selectedDataEntry.selected'></fake-checkbox>
              {{inventoryDataEntryListModal.getDataEntryName(selectedDataEntry.name)}}
            </label>
          </div>
        </searchable-list>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-click='inventoryDataEntryListModal.closeModal()' class='btn btn-default'>Close</button>
    <button ng-click='inventoryDataEntryListModal.save()' class='btn btn-secondary'>Save</button>
  </div>
</div>
