<div class='container modal-form'>
  <h1>Choose product entries relevant to this PD category</h1>
  <button class='btn btn-link close-modal' ng-click='productEntryListModal.closeModal()'>&times;</button>

  <hr>

  <p>Select products that contribute to the progress in this realm of PD development.</p>

  <form name='form'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='form-group'>
          <searchable-list title="{{selectedProductEntries.length}} Products">
            <div ng-repeat='selectedProductEntry in selectedProductEntries' class='control-list'>
              <label>
                <fake-checkbox model='selectedProductEntry.selected'></fake-checkbox>
                {{productEntryListModal.getProductEntryName(selectedProductEntry.name)}}
              </label>
            </div>
          </searchable-list>
        </div>
      </div>
    </div>

    <hr>

    <div class='row actions'>
      <div class='col-md-12'>
        <div class='form-group'>
          <button ng-click='productEntryListModal.closeModal()' class='btn btn-default'>Cancel</button>
          <button ng-click='productEntryListModal.save()' class='btn btn-secondary'>Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
