<div class="sidebar inventory-edit-sidebar">
  <inventory-schedule only-schedule="true" inventory="inventoryReportSidebar.inventory"></inventory-schedule>
  <ul ng-hide="inventoryReportSidebar.shared">
    <li ng-if="!inventoryReportSidebar.hideAnalysisAccess">
      <a ng-if="!inventoryReportSidebar.creatingAnalysis" class="btn btn-primary"
         ng-click="inventoryReportSidebar.gotoAnalysis()">Go to Analysis</a>
      <a ng-if="inventoryReportSidebar.creatingAnalysis" class="btn btn-primary"
         ng-click="inventoryReportSidebar.createAnalysis()">Create Analysis</a>
    </li>
    <li>
      <a class="btn btn-secondary" ng-click="inventoryReportSidebar.downloadReport()">Download as CSV</a>
    </li>
    <li>
      <a ng-click="inventoryReportSidebar.displayLearningQuestions()" class="btn btn-secondary">Add/Review Learning
        Questions</a>
    </li>
    <li>
      <a ui-sref="inventory_dashboard({inventory_id: inventoryReportSidebar.inventory.id})" class="btn btn-default">Dashboard</a>
    </li>
  </ul>
</div>
