<div class="proprietary-edsurge">
  <div class="text-logo-row">
    <p>Related products on</p>
    <%= image_tag('edsurge_logo.png') %>
  </div>
  <a ng-href="{{ buttonLink }}" target="_blank" class="btn btn-default">Explore products on EdSurge</a>
</div>
