.primary-button
  display: flex
  flex-direction: row
  align-items: center
  span
    &[data-icon-stack]
      margin-right: 3%
      color: $primary-color
      .icon-color
        color: $secondary-font-color
  a
    color: $primary-color
  margin: 1em 0
