.primary-button
  display: flex
  flex-direction: row
  align-items: center
  span
    &[data-icon-stack]
      flex-shrink: 0
      margin-right: 0.35em
      color: $primary-color !important
      .icon-color
        color: $secondary-font-color !important
  a
    color: $primary-color !important
    text-decoration: underline !important
    cursor: pointer
  margin: 1em 0
