<div class="home-controller">
  <user-header></user-header>
    <div class="row">
      <div class="col-md-12">
        <h1>Where to start?</h1>
        You can use any of the tools or resources in the process. We recommend you start with the Readiness Assessment.
        <start-assessment></start-assessment>
        <div ng-if="isNetworkPartner()">
          <div class="row add-district plus-button">
            <a href="#/settings">
              <div class="col-sm-1 col-md-1">
                <i class="fa fa-plus"></i>
              </div>
              <div class="col-sm-11 col-md-11 heading">
                <h1>Add Districts</h1>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1>PD System Redesign Tool Kit</h1>
        Learn more about the tools currently under development as part of the PDredesign process.

        <div class="row toolkits">
          <div class="col-md-4 toolkit" ng-repeat="phase in tools">
            <div class="row title title-{{$index}}">
              {{phase.title}}
              <div class="triangle-right"></div>
            </div>
            <div class="goal">Goal: {{phase.description}}</div>

            <div class="categories" ng-repeat="category in phase.categories">
              <div class="title">{{category.name}}</div>
              <span class="subcategories" ng-repeat="subcategory in category.subcategories">
                {{subcategory.name}}
                <ul class="tool" ng-repeat="tool in subcategory.tools">
                  <li
                    data-html="true"
                    data-placement="right"
                    data-content="{{popoverContent(tool)}}"
                    data-toggle="tooltip">
                    <span class="tool-check">
                      <i class="fa fa-check" ng-class="{active: tool.url, inactive: !tool.url}"></i>
                    </span>
                    <span class="tool-title">{{tool.title}}</span>
                  </li>
                </ul>
              </span>
              <span>
               <ul class="tool extra-tool" ng-repeat="tool in category.tools">
                  <li
                    data-html="true"
                    data-placement="right"
                    data-content="{{popoverContent(tool)}}"
                    data-toggle="tooltip">
                    <i class="fa fa-check" ng-class="{active: tool.url, inactive: !tool.url}"></i>
                    {{tool.title}}
                  </li>
               </ul>
              </span>
              <div class="tool">
                <add-tool category="category"></add-tool>
              </div>
          </div>

          </div>
        </div>

      </div>
    </div>

    <div class="design-principles">
      <h1>Design Principles</h1>
      <div class="icons">
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-font fa-stack-1x"></i></span> Common Language &amp; Frameworks
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-group fa-stack-1x"></i></span> Cross-Team Collaboration
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span> Teacher Centered Design
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-comments fa-stack-1x"></i></span> Actionable Feedback
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-refresh fa-stack-1x"></i></span> Continuous Improvement
      </div>

    </div>
</div>
