<div class="categories">
  <div class="row sort-by">
    <div>
      <sort-by categories="categories" data="data" />
    </div>
    <div>
      <ng-include src="'client/views/directives/consensus/filter_by_role.html'">
      </ng-include>
    </div>
  </div>
  <div class="category" ng-repeat="category in categories">
    <div class="row">
      <p class="category-label" ng-click="toggleCategoryAnswers(category)">
        <i class="fa fa-chevron-right" ng-class="{'fa-chevron-down' : category.toggled === true}"></i>
        {{category.name}}
      </p>
      <div class="question-container question-{{question.id}}" ng-repeat="question in category.questions">
        <div class="question-row" ng-click="toggleAnswers(question, $event)">
          <div class="question">
            <p class="question-id scored-{{question.score.value}}" ng-show="question.loading">
              <i class="fa fa-spinner fa-spin"></i>
            </p>
            <p id="question-{{question.number}}" class="question-id {{questionColor(question, isConsensus)}}"
               ng-hide="question.loading">
              <a ng-href="#question-{{question.id}}"></a>
              {{question.number}}
            </p>
          </div>
          <div class="question-content">
            <p class="question-headline">
              {{question.headline}}
            </p>
            <p class="content">{{question.content}}</p>
            <response-answer-group question="question" is-consensus="true" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
