<div class="categories">
  <div class="row sort-by" ng-if="vm.isAssessment">
    <div>
      <sort-by categories="vm.categories" data="vm.data"></sort-by>
    </div>
    <div>
      <ng-include src="client/views/directives/consensus/filter_by_role.html"></ng-include>
    </div>
  </div>
  <div ng-if="vm.displayMode === 'category'">
    <category-container categories="vm.categories"
                        question-type="{{vm.context}}"
                        scores="vm.scores"
                        is-consensus="{{vm.isConsensus}}">
    </category-container>
  </div>

  <div class="category" ng-if="vm.displayMode === 'variance'">
    <variance-category-container is-consensus="{{vm.isConsensus}}"
                                 variance-questions="vm.varianceOrderedQuestions"
                                 scores="vm.scores"></variance-category-container>
  </div>
</div>
