<div class="col-md-6 col-sm-12 ">
  <div class="label">
    Sort By:
  </div>
  <div>
    <div class="btn-group">
      <button id="numericSort" type="button" class="btn btn-default" ng-click="sortBy.changeViewMode('category')">
        <i class="fa fa-sort-numeric-asc"></i>
        Numeric
      </button>
      <button id="varianceSort" type="button" class="btn btn-default" ng-click="sortBy.changeViewMode('variance')">
        <i class="fa fa-bar-chart-o"></i>
        Variance
      </button>
    </div>
  </div>
</div>
