<div class="row score-evidence" ng-show="question.score.value == answer.value">
  <div class="col-md-2"></div>
  <div class="col-md-9">
    <div ng-hide="question.score.editMode">
      <textarea 
        class="col-md-12 col-sm-12"
        ng-model="question.score.evidence"
        placeholder="Write evidence of why you believe this is the correct score for this question. Skip to next question if you're not sure.">
      </textarea>
      <div class="save-holder">
        <button
          ng-disabled="invalidEvidence(question)"
          class='btn btn-primary'
          ng-click="saveEvidence(question.score)">
          <i class='fa fa-save'></i>SAVE
        </button>
      </div>
    </div>
    <div ng-show="question.score.editMode ">
      <div class="evidence-read">
        <div ng-bind-html="question.score.evidence"></div>
        <div class="edit-holder">

          <button class='btn btn-primary edit-button'
            ng-click="editAnswer(question.score)">
            <i class='fa fa-save'></i>Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
