<div class="answer answer-row value-color-skipped"
  ng-click="skipQuestion(question, question.score)"
  ng-class="{skipped: skipped(question), 'lorem': editable}">
  <div class="answer-info-row value-color-skipped">
    <div class="skipped answer-value">
      <span>S</span>
    </div>
    <div class="answer-container">
      <div class="answer-title">
        Skip This Question
      </div>
      <div class="answer-description">
        <div ng-if="question.score.value === null && editable">
          <p>Saved Evidence:</p>
          <p ng-bind-html="question.score.evidence"></p>
        </div>
      </div>
      <response-answer-form question="question"
                            answer="answer"
                            blankable="true"
                            visible="{{ skipped(question) && editable }}"
                            placeholder="Write a note to explain why you skipped this question (optional)." />

    </div>
  </div>
</div>
