<div class="row sort-by">
  <div class="col-md-3 label">
    Sort By:
  </div>
  <div class="col-md-5">
    <div class="btn-group">
      <button type="button" class="btn btn-default">
        <i class="fa fa-fire"></i>
        Popularity
      </button>
      <button type="button" class="btn btn-default" ng-click="changeViewMode('category')">
        <i class="fa fa-sort-numeric-asc"></i>
        Numeric
      </button>
      <button type="button" class="btn btn-default" ng-click="changeViewMode('variance')" ng-model="viewMode">
        <i class="fa fa-bar-chart-o"></i>
        Variance
      </button>
    </div>
  </div>
</div>
