nav.navbar
  .navbar-form
    border: none
  margin-bottom: 0
  .logo
    padding: 0
  .navbar-header
    img
      margin-top: .3em
      padding: .3em
      height: 2.5em
  .user-menu
    padding-right: 1em
    .polaroid
      border-radius: 3em
  .cursor
    cursor: hand
    cursor: pointer

