.plus-button
  display: inline-block
  a
    color: $secondary-color
  margin: 1em 0
  .fa-plus
    color: $secondary-font-color
  .heading
    display: inline-block
  &:hover
    a
      color: darken($secondary-color, 20%) !important
      text-decoration: none !important
      cursor: pointer !important

.tertiary .plus-button
  margin-top: 0