.response-sidebar
  @extend .main-content
  h2
    margin-top: 0
  .submit
    border-radius: 0
  .affix
    top: 0

  .punchcard
    h1
      margin: 0

    .sidebar-title
      padding: .3em

    .card
      padding: 1em 0
      span
        height: $circle-size/1.5
        width: $circle-size/1.5
        line-height: $circle-size/1.6
        color: $font-color
        margin: .125em
        border: 1px solid $unscored
        display: inline-block
        text-align: center
        border-radius: 100px
      a
        &:hover
          text-decoration: none
          span
            box-shadow: inset 0px 0px 0px 1px $unscored
    .btn
      border-radius: 0em
      margin: 0em
      span
        color: white
        font-size: 1.3em
  .sidebar-title
    font-weight: bold
    color: $unscored
    .score-count
      color: $unscored
      font-weight: lighter