@media (max-width: 768px)
  body
    #response-sidebar
      position: relative !important
      height: 41em
      width: 100%


#response-sidebar
  @extend .main-content
  h2
    margin-top: 0
  .submit
    border-radius: 0
  .affix
    top: 0

  .punchcard
    h1
      margin: 0

    .sidebar-title
      padding: .3em

    .card
      padding: 1em 0
      span
        height: $circle-size/1.5
        width: $circle-size/1.5
        line-height: $circle-size/1.6
        color: $font-color
        margin: .125em
        border: 1px solid $unscored
        display: inline-block
        text-align: center
        border-radius: 100px
        :hover
          text-decoration: none

    .btn
      border-radius: 0em
      margin: 0em
      span
        color: white
        font-size: 1.3em
  .sidebar-title
    font-weight: bold
    color: #4b616f
    .score-count
      color: #4b616f
      font-weight: lighter
  .why-pd
    .title
      font-style: italic
      color: #999999
      margin: .5em 0
    i
      color: #999
