<div class="row row-bg row-header">
  <div class="col-md-12">
    <div class="col-md-12">
      <h1>Create Password</h1>
      <span>Please confirm the information below and set your password</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="invite-redeem">
      <form name="invitation">
        <div class="row">
          <div class="col-md-12">
            <div class="alert">
              <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <label for="user-first-name">First Name*</label>
            <input id="user-first-name"
                   class="form-control"
                   placeholder="First Name*"
                   type="text"
                   required
                   ng-model="vm.invitedUser.first_name">
          </div>
          <div class="col-md-offset-1 col-md-6">
            <label for="user-last-name">Last Name*</label>
            <input id="user-last-name"
                   class="form-control"
                   placeholder="Last Name*"
                   type="text"
                   required
                   ng-model="vm.invitedUser.last_name">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label for="user-team-role">Team Role</label>
            <input id="user-team-role"
                   class="form-control"
                   placeholder="Team Role"
                   type="text"
                   ng-model="vm.invitedUser.team_role">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label for="user-email">Email*</label>
            <input id="user-email"
                   class="form-control"
                   placeholder="Email*"
                   type="text"
                   required
                   ng-model="vm.invitedUser.email">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label for="user-password">Password*</label>
            <input
                id="user-password"
                class="form-control"
                placeholder="Password*"
                type="password"
                required
                ng-model="vm.invitedUser.password">
          </div>
          <div class="col-md-6">
            <label for="user-password-confirmation">Confirm Password*</label>
            <input
                id="user-password-confirmation"
                ui-validate="'$value == vm.invitedUser.password'"
                ui-validate-watch="'vm.invitedUser.password'"
                class="form-control"
                placeholder="Password Confirm*"
                type="password"
                required
                ng-model="vm.invitedUser.password_confirm">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button
                ng-disabled="invitation.$invalid"
                ng-click="vm.redeemInvite()"
                class="btn btn-primary pull-right">
              Continue
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
