<div class="sidebar">
  <div id="assessment_dashboard_consensus_sidebar" ng-controller="AssessmentDashboardSidebarCtrl">
    <div class='consensus'>
      <p ng-show="noMeetingDate()" class='header'>Consensus Meeting not yet scheduled</p>
      <p ng-show="preMeetingDate()" class='header'>Consensus Meeting for</p>
      <p ng-show="postMeetingDate()" class='header'>Consensus Meeting was held</p>
      <div class='outer'>
        <div class='inner'>
          <div ng-show="postMeetingDate()">
            <p class='date'>{{meetingDateDaysAgo()}}</p>
            <p class='month'>days ago</p>
          </div>

          <div ng-show="preMeetingDate()">
            <p class='day'>{{meetingDayName()}}</p>
            <p class='date'>{{meetingDayNumber()}}</p>
            <p class='month'>{{meetingMonthName()}}</p>
          </div>

          <div ng-show="noMeetingDate()">
            <p class='date'>?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <a
        ng-class="{ active: $state.includes('assessment_dashboard') }"
        href="#/assessments/{{assessment.id}}/dashboard">Dashboard
      </a>
      <span ng-show="noMeetingDate()">
        <a ng-click="modifySchedule()" href="">Schedule Consensus Meeting</a>
        <a ng-click="newReminder()" href="">Send Reminder</a>
      </span>

      <span ng-show="preMeetingDate()">
        <a ng-click="modifySchedule()" href="">Modify Schedule</a>
        <a ng-click="createConsensus()" href="" >Create Consensus</a>
        <a ng-click="newReminder()" href="">Send Reminder</a>
      </span>
      <span ng-show="postMeetingDate()">
        <a ng-show="consensusStarted()" href="#/assessments/{{assessment.id}}/consensus/{{assessment.consensus.id}}">View Consensus</a>
        <a ng-hide="consensusStarted()" ng-click="createConsensus()" href="" >Create Consensus</a>
      </span>

      <span ng-show="reportPresent()">
        <a
          ng-class="{ active: $state.includes('assessment_report') }"
          href="#/assessments/{{assessment.id}}/report">Report
        </a>
      </span>
    </div>
  </div>

  <div class="content">
    <ng-include src="'client/views/sidebar/why_pd_redesign.html'"></ng-include>
  </div>

</div>
