<div class="padding facilitation-guide">
  <h3 class="title">
 	For Facilitators
  </h3>
  <p>
  	For detailed instructions and question guides,
  	<%= ActionController::Base.helpers.link_to('download the Facilitation Guide PDF', 'assets/PDredesignFaciliationGuide052016.pdf', target: '_blank') %>
  </p>
</div>

