<div class="what-is-pd">
  <p class="title">
    <i class="fa fa-info-circle"></i> Why Readiness Assessment?
  </p>

  <p>
    <readiness-assessment-modal title="Learn more about PDredesign"></readiness-assessment-modal>
    process and how this Readiness Assessment fits into the larger picture.
  </p>

  <ng-include src="'client/views/sidebar/facilitator_pdf.html'" ng-hide="role == member"></ng-include>
</div>
