<section class="permission-requests">
  <h4>
    Permission Requests
    <permissions-info placement="right"></permissions-info>
  </h4>
  <div ng-if="vm.list.length <= 0">
    <h5>No Permission Requests</h5>
  </div>

  <div ng-if="vm.list.length > 0">
    <div ng-repeat="requester in vm.list">
      <div class="row row-participant-add">
        <div class="col-sm-1">
          <img alt="" class="img-polaroid pull-left" ng-src="{{requester.avatar}}"/>
        </div>
        <div class="col-sm-2">
          <p class="name_label">{{requester.full_name}}</p>
        </div>
        <div class="col-sm-3">
          <p class="info">{{requester.email}}</p>
        </div>
        <div class="col-sm-3">
          <div class="pull-left permission_transition">
            <span class="old_level">{{requester.current_permission_levels.roles}}</span>
            <i class="fa fa-arrow-right"></i>
            <span class="new_level">{{requester.requested_permission_levels.roles}}</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="pull-right">
            <button class="btn btn-xs btn-default"
                    ng-click="vm.denyRequest(requester.access_request_id)">
              Cancel
            </button>
            <button class="btn btn-xs btn-primary"
                    ng-click="vm.grantRequest(requester.access_request_id)">
              Approve
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>