<section class="current-participants">
  <h4>Current Participants</h4>
  <div ng-if="vm.list.length === 0">
    <h5>No Participants</h5>
  </div>
  <div ng-if="vm.list.length > 0">
    <form id="current_user_permissions" name="vm.currentUserPermissions">
      <div class="row row-participant-add" ng-repeat="member in vm.list">
        <div class="col-md-3 participants-flex-row">
          <img alt="" class="img-polaroid flex-avatar" ng-src="{{member.avatar}}" width="47"/>
          <p class="name_label flex-name-label">{{member.full_name}}</p>
        </div>
        <div class="col-md-5 participants-flex-row">
          <p class="info important_label flex-label">{{member.email}}</p>
        </div>
        <div class="col-md-4 participants-flex-column">
          <label for="active-permissions-{{member.id}}" class="level_label">Permissions</label>
          <fieldset id="active-permissions-{{member.id}}">
            <label for="facilitator-{{member.id}}">Facilitator</label>
            <input id="facilitator-{{member.id}}" type="checkbox" ng-model="member.is_facilitator">
            <label for="participant-{{member.id}}">Participant</label>
            <input id="participant-{{member.id}}" type="checkbox" ng-model="member.is_participant">
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</section>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeFn()">
    Done
  </button>
  <button type="submit" class="btn btn-secondary" ng-click="vm.save()">
    Save
  </button>
</div>
