<div class="login signup">
  <div class="row secondary">
    <div class="container">
      <div class="col-md-4">
        <h1>Forgot your password?</h1>
        <h3 class="subheading" >We'll email you instructions to reset your password.</h3>
        <p class="resetpass-help-text">Need help? Contact us at support@mail.pdredesign.org.</p>
      </div>

      <div class="col-md-8 form">
        <div class="row">
          <div class="col-md-7 col-sm-6">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>

        <form id="resetForm">
        <div class="row">
          <div class="col-md-7 col-sm-6">
            <input
              required
              ng-model="email"
              class="form-group form-control"
              placeholder="Email Address*"
              type="text">
            <input
              ng-disabled="resetForm.$invalid"
              type="button"
              ng-click="requestReset(email)"
              class="btn btn-devise btn-danger pull-right"
              name="commit"
              value="Request Reset Email">
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 intro">
        <%= image_tag 'sign-in-image.png' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 intro">
        <h3>With this tool you will...</h3>
        <p>
          Engage in a candid, cross-functional discussion about innovative
          Professional Development using a common language anchored to key
          elements of a high-quality, multi-modal professional development system.
          You'll gain a comprehensive understanding of the current state of multiple
          aspects of PD in your district. You'll have the opportunity to contribute
          to the PD strategy design at the district level to better support teachers
          to improve student success in their classrooms.
        </p>
      </div>
    </div>
  </div>



</div>

