.btn-primary-landing {
  @include button-variant($btn-primary-color, $primary-color, $btn-primary-color);
  border: 3px solid;
  font-size: 24px;
}

.btn-secondary {
  @include button-variant($btn-primary-color, $secondary-color, $secondary-color);
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  border-color: #52616D
}

.btn-tertiary {
  @include button-variant($font-color, $off-white, $tertiary-color);
  &:hover {
    border-color: #3894C9;
    background-color: $off-white;
  }

  &:active {
    border-color: #6E818F;
    background-color: $off-white;
  }

  &:focus {
    background-color: $off-white;
  }
}