.btn-primary-landing {
  @include button-variant($btn-primary-color, $primary-color, $btn-primary-color);
  border: 3px solid;
  font-size: 24px;
}

@mixin pdr-button {
  @include remove-box-shadow;
  
  padding-top: 0;
  padding-bottom: 0;
}

@mixin remove-box-shadow {
  box-shadow: none;

  &:hover, &:active {
    box-shadow: none;
  }
}

a.btn-primary,
button.btn-primary {
  @include pdr-button;

  color: $pdr-btn-primary-text-color;
  background-color: $pdr-btn-primary-bg-color;
  border-radius: 2px;
  border: none;
  height: $pdr-btn-primary-height;
  line-height: $pdr-btn-primary-height;

  &:hover {
    background-color: $pdr-btn-primary-bg-color-hover;
  }

  &:active {
    background-color: $pdr-btn-primary-bg-color-active;
  }
}

.btn-secondary {
  @include pdr-button;

  color: $pdr-btn-secondary-text-color;
  background-color: $pdr-btn-secondary-bg-color;
  border-radius: 2px;
  border: none;
  height: $pdr-btn-secondary-height;
  line-height: $pdr-btn-secondary-height;

  &:hover {
    color: $pdr-btn-secondary-text-color;
    background-color: $pdr-btn-secondary-bg-color-hover;
  }

  &:active {
    color: $pdr-btn-secondary-text-color;
    background-color: $pdr-btn-secondary-bg-color-active;
  }
}

.btn-default {
  @include pdr-button;

  color: $pdr-btn-tertiary-text-color;
  background-color: $pdr-btn-tertiary-bg-color;
  border-radius: 2px;
  border: 1px solid $pdr-btn-tertiary-border-color;
  height: $pdr-btn-tertiary-height;
  line-height: $pdr-btn-tertiary-height;

  &:hover {
    color: $pdr-btn-tertiary-text-color-hover;
    background-color: $pdr-btn-tertiary-bg-color-hover;
    border-color: $pdr-btn-tertiary-border-color-hover;
  }

  &:active {
    color: $pdr-btn-tertiary-text-color-active;
    background-color: $pdr-btn-tertiary-bg-color-active;
    border-color: $pdr-btn-tertiary-border-color-active;
  }
}

