
$border-color: #B4B3AF
$font-color: #636466
$secondary-font-color: #FFF

$unscored:  #b3b3b3
$scored1:   #E18A5E
$scored2:   #E3BA5F
$scored3:   #98AF76
$scored4:   #3D6968
$skipped:   #418B98

$primary-color: rgb(35,123,174)
$secondary-color: #C4E1DB

$header-background-color: $secondary-color
$background-color-body: #EBECF0
$background-color: #FFF
$header-font-color: #FFF

$dark-primary-color: darken($primary-color, 20%)

$link-color: $primary-color

$navbar-color: #F2F2F2
$gradient-top: rgba(35,123,174, 0.90)
$gradient-bottom: rgba(88,193,180, 0.90)

$manage-participants-icon-color: $primary-color
$manage-participants-name-color: $primary-color
$manage-participants-labels-color: rgb(184, 181, 174)

$manage-participants-primary-label: rgb(99, 100, 102)
$manage-participants-cancel-btn-color: rgb(99, 100, 102)
