$border-color: #B4B3AF
$font-color: #4D4D4D
$secondary-font-color: #FFF
$light-grey: #8899A6
$off-white: #F7F9FA

$unscored:  #8899A6
$scored1:   #E9F5F3
$scored2:   #C3E4E0
$scored3:   #A7DFD8
$scored4:   #6ED8CB
$skipped:   $light-grey

$primary-color: #007AB0
$secondary-color: #53C2B4
$tertiary-color: #52616D

$header-background-color: $primary-color
$background-color-body: #EBECF0
$background-color: #FFF
$header-font-color: #FFF

$dark-primary-color: darken($primary-color, 20%)

$link-color: $primary-color

$navbar-color: #FFF
$gradient-top: rgba(35,123,174, 0.90)
$gradient-bottom: rgba(88,193,180, 0.90)

$manage-participants-icon-color: $primary-color
$manage-participants-name-color: $primary-color
$manage-participants-labels-color: $unscored

$manage-participants-primary-label: rgb(99, 100, 102)
$manage-participants-cancel-btn-color: rgb(99, 100, 102)

$circle-size: 36px //Assessment and consesnus number size, and user image size

$draft-color: $skipped
$assessment-color: $secondary-color
$consensus-color: $primary-color

$border-radius-base: 2px


$pdr-btn-primary-bg-color: #006EA9
$pdr-btn-primary-bg-color-hover: #3894C9
$pdr-btn-primary-bg-color-active: #006297
$pdr-btn-primary-text-color: white
$pdr-btn-primary-height: 40px

$pdr-btn-secondary-bg-color: #44BBAB
$pdr-btn-secondary-bg-color-hover: #54D2C1
$pdr-btn-secondary-bg-color-active: #37A294
$pdr-btn-secondary-text-color: white
$pdr-btn-secondary-height: 30px

$pdr-btn-tertiary-bg-color: #F7F9FA
$pdr-btn-tertiary-bg-color-hover: #F7F9FA
$pdr-btn-tertiary-bg-color-active: #F7F9FA
$pdr-btn-tertiary-border-color: #52616D
$pdr-btn-tertiary-border-color-hover: #6E818F
$pdr-btn-tertiary-border-color-active: #3A4C5A
$pdr-btn-tertiary-text-color: #52616D
$pdr-btn-tertiary-text-color-hover: #6E818F
$pdr-btn-tertiary-text-color-active: #3A4C5A
$pdr-btn-tertiary-height: 30px
