<div class='row secondary user-header'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>{{assessment.name}}</h1>
        <p class='byline'>organized by:
          <a href=""> {{assessment.facilitator.full_name}}</a>
          on {{assessment.created_at  | amDateFormat:'MMMM Do, YYYY'}}
        </p>
        <h2 class='instructions-header'>Instructions</h2>

        <div class='col-md-12'>
          <p class='instructions-content'>
            The Readiness Assessment consists of questions across the 8 categories from the <readiness-assessment-modal title="PD System Map"></readiness-assessment-modal>. Following this individual survey, you will have the opportunity to discuss your responses with your colleagues in a consensus meeting.
          </p>
          <p class='instructions-content'>
            For each question, answer carefully based on your experience and include evidence such as notes, links, or files to support your response. You may skip a question if you are not sure how to respond. Save each completed response as you move through the assessment
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
