<div class='row secondary'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>{{assessment.name}}</h1>
        <p class='byline'>organized by:
          <a href=""> {{assessment.facilitator.full_name}}</a>
          on {{assessment.created_at  | amDateFormat:'MMMM Do, YYYY'}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class='row tertiary'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h2>Instructions</h2>
        <p class='instructions-content'>
          The Readiness Assessment consists of 30 questions across 8 key categories that, when combined, create more effective, empowering professional development experiences for teachers. Some of the questions are intentionally ambiguous to allow space for our district team to align on our own internal definitions and working norms.
        </p>
        <p class='instructions-content'>
          To complete a question, click on the question, select a rubric choice and then enter evidence in the text box to support your choice. Please answer each question based on your experience. If you only have your personal experience to rely on, share evidence with that in mind. If you have a broader perspective based on your role or interactions with others, comment accordingly. It’s possible you may not have evidence in every case - please do your best and move on. <strong>We strongly encourage you not to skip any of the questions</strong>.
        </p>
        <p class='instructions-content'>
          Following this individual survey, you will have the opportunity to discuss collective responses with your colleagues during a consensus meeting. The goal of the meeting will be to discuss where we currently stand with PD and to brainstorm next steps.
        </p>
      </div>
    </div>
  </div>
</div>
