<div class="login">
  <div class="row secondary">
    <div class="col-md-12">
      <h1>Welcome back to PDredesign!</h1>
    </div>

    <div class="col-md-12 hidden-md hidden-lg">
      <user-login></user-login>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 intro">
      <%= image_tag 'sign-in-image.png' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 intro">
      <h3>About PDredesign</h3>
      <p>
        PDredesign is the place for meaningful collaboration to reimagine teacher professional development.
      </p>
      <p>
       Join our community of educators and designers committed to continuously improving professional development systems to better support teachers. Alongside leaders from classrooms, schools, charters, districts, and partner organizations across the country, we are building an open digital toolkit and community of practice to support districts to redesign systems that meet the needs of educators and students.
      </p>
      <p>
        Improving professional development for teachers will take all of us working together.
      </p>
    </div>
  </div>
</div>


