<div id="choose-role">
  <div class="modal-content">
    <div class="modal-header">
      <button ng-click="close()" type="button" class="close">×</button>
      <h3 class="modal-title" id="createConsensusLabel">Get Started</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>I am part of a school district or charter management organization.</p>
              <br class="hidden-sm hidden-xs">
              <a  ng-click="close()" href="#/administrators" class="btn btn-primary btn-lg">District</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>I work with an organization that partners with districts to provide support.</p>
              <a ng-click="close()" href="#/networks"  class="btn btn-primary btn-lg">Partner</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
