<div id="createConsensus">
  <div class="modal-content">
    <div class="modal-header">
      <button ng-click="close()" type="button" class="close">×</button>
      <h3 class="modal-title" id="createConsensusLabel">Create Consensus Response</h3>
    </div>
    <div class="modal-body">
      <h3>Creating a consensus response will show all participants' responses and allow you to facilitate the consensus meeting.</h3>
      <h3>Keep in mind, however, that this will prevent participants from leaving additional feedback in their own individual responses.</h3>
    </div>
    <div class='modal-footer'>
      <a
        ng-click="redirectToCreateConsensus()"
        class="btn btn-primary"
        href="">
          Create Consensus Response
      </a>
    </div>
  </div>
</div>
