<div class="invite-user-modal">
  <div class="modal-header">
    <h3 class="modal-title">Add New Participant</h3>
  </div>
  <div class="modal-body" id="modal-invite-participant">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <form  name="formInviteParticipant"  novalidate>
      <div class='row'>
        <div class='flush-left col-md-4 col-sm-4'>
          <div class="form-group">
            <input placeholder="First Name" type="text" class="form-control" ng-model="inviteUser.first_name" required>
          </div>
        </div>

        <div class='flush-right col-md-8 col-sm-8'>
          <div class="form-group">
            <input placeholder="Last Name" type="text" class="form-control" ng-model="inviteUser.last_name" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input placeholder="Email Address" type="email" name="input" ng-model="inviteUser.email" class="form-control" required>
      </div>

      <div class="form-group">
        <input placeholder="Team Role (e.g. Finance, HR)" class="form-control" type="text" ng-model="inviteUser.team_role">
      </div>

      <div class="from-group" ng-init="inviteUser.role=role">
        <label class="level_label">Set Permissions Level: </label>
        <select class="btn btn-primary btn-xs"
                ng-model="inviteUser.role">
          <option value="participant">Participant</option>
          <option value="facilitator">Facilitator</option>
          <option value="viewer">Viewer</option>
        </select>
        <permissions-info data-placement="right"></permissions-info>
      </div>

      <div class="form-group right">
        <div
          class="btn btn-primary pull-right"
          ng-disabled="formInviteParticipant.$invalid"
          ng-click="createInvitation(inviteUser)"
          data-dismiss="modal">
            Add to District
        </div>
      </div>

      <div class='clearfix'>
      </div>
    </form>
  </div>
</div>