<div id="modify-schedule" ng-controller="ModifyScheduleCtrl">
  <button ng-click="close()" type="button" class="close" aria-hidden="true">×</button>
  <div class="control-group">
    <label for="assessment_Due Date">Response due date</label>
    <div class="due-date input-group date datetime">
      <input
        class="form-control"
        data-date-format="MM/DD/YYYY"
        ng-model="modal_due_date"
        id="due-date">
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>

  <div class="control-group">
    <label for="assessment_Due Date">Consensus meeting date</label>
    <div class="meeting-date input-group date datetime">
      <input
        ng-model="modal_meeting_date"
        data-date-format="MM/DD/YYYY"
        class="form-control"
        id="meeting-date">
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <button
    ng-click="updateAssessment()"
    class="btn btn-primary">
    Submit
  </button>
</div>

