<div id="pd-overview">
  <div class="overview-holder">
    <div class="modal-header">
      <button ng-click="close()" type="button" class="close" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
        PDredesign: Readiness Assessment
      </h4>
    </div>
    <div class="holder">
      <div class="row">
       <div class="col-md-6">
          <p class='sidebar-question'>What is it?</p>
          <div class='overview'>
            The PDredesign Readiness Assessment Tool is designed to help districts and LEAs:
            <ol>
              <li>Engage in a candid, cross-functional discussion about innovative Professional Development using a common language anchored to key program elements from the Gates Foundation's PD System Map (below).</li>
              <li>Gain a high level understanding of the organization's current strengths and weaknesses and overall readiness, aid in the PD strategy design, and support the associated whole system change.</li>
            </ol>
          </div>

          <p class='sidebar-question'>How is it used?</p>
          <div class='overview'>
            Ideally, the process for using the PD Readiness Assessment consists of:
            <ul>
              <li>Gathering a cross-functional team</li>
              <li>Having each team member review and fill out the assessment</li>
              <li>Discussing the questions one by one as a group, coming to a consensus on a score for each question, and providing evidence and bright spots to support the consensus score</li>
              <li>Creating the report: After filing out the scoring rubric, a printable version of the assessment report will be generated</li>
            </ul>
          </div>

        </div>
        <div class="col-md-6">
          <%= image_tag('diagram.png', style: "width: 100%") %>
        </div>
      </div>
    </div>
  </div>
</div>
