<div class="request-access-modal">
  <div class="modal-header">
    <button ng-click="close()" type="button" class="close" aria-hidden="true">×</button>
    <h2>Request Access</h2>
  </div>
  <div class="modal-body">

    <span class="question-holder">Select the role you would like to request in this assessment.
      <i data-toggle="requestPopover"
        data-content="{{popoverContent()}}" class="fa fa-question question-tip">
      </i>
    </span>

    <div ng-show="isNetworkPartner()" class="btn-group">
      <span class="btn btn-primary" ng-model="accessLevel" btn-radio="'facilitator'">
        <i class="fa fa-bullhorn"></i><span>Organizer</span>
      </span>
      <span class="btn btn-primary" ng-model="accessLevel" btn-radio="'viewer'">
        <i class="fa fa-eye"></i><span>Observer</span>
      </span>
    </div>

    <div ng-show="!isNetworkPartner()" class="btn-group">
      <span class="btn btn-primary" ng-model="accessLevel" btn-radio="'facilitator'">
        <i class="fa fa-bullhorn"></i><span>Facilitator</span>
      </span>
      <span class="btn btn-primary" ng-model="accessLevel" btn-radio="'participant'">
        <i class="fa fa-edit"></i><span>Participant</span>
      </span>
      <span class="btn btn-primary" ng-model="accessLevel" btn-radio="'viewer'">
        <i class="fa fa-eye"></i><span>Viewer</span>
      </span>
    </div>
  </div>

  <div class='modal-footer'>
    <button ng-click='submitAccessRequest(accessLevel)' class='btn btn-success'>
      <span>Done</span>
    </button>
  </div>
</div>
