<div class="invite-user-modal">
  <div class="modal-header">
    <h3 class="modal-title">Share Report</h3>
  </div>
  <div class="modal-body" id="modal-invite-participant">
    <div class="modal-body">
      <p>Use the following link to share this report</p>
      <textarea readonly="readonly"  class="form-control" rows="3">{{shareReportUrl}}</textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="closeShareModal()">Close</button>
    </div>
    <div class='clearfix'>
    </div>
  </div>
</div>
