<div class='row secondary user-header'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>{{assessment.name}}</h1>
        <p class='byline'>organized by:
          <a href=""> {{assessment.facilitator.full_name}}</a>
          on {{assessment.created_at  | amDateFormat:'MMMM Do, YYYY'}}
        </p>
        <h2 class='instructions-header'>Instructions</h2>

        <div class='col-md-12'>
          <p class='instructions-content'>
            The Readiness Assessment consists of questions across the 8 categories of the <readiness-assessment-modal title="PD System Map"></readiness-assessment-modal>. As the assessment facilitator, use this page to guide and document the conversation during the in-person consensus meeting.
          </p>
          <p class='instructions-content'>
            For each question, discuss the individual responses as a group to collectively decide a consensus score, including notes for reference. You may sort or skip questions to support a targeted discussion. Save each completed response as you move through the consensus meeting.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="export-buttons col-md-12 text-right">
    <button class="btn btn-primary" ng-click="exportToPDF()">Export to PDF</button>
    <button class="btn btn-primary" ng-click="exportToCSV()">Export to CSV</button>
  </div>
</div>

