<div class='row secondary'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>{{entity.name}}</h1>
        <p class='byline'>organized by:
          <a href=""> {{entity.facilitator.full_name}}</a>
          on {{entity.created_at  | amDateFormat:'MMMM Do, YYYY'}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class='row tertiary'>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
          <h2>Instructions</h2>
          <p class='instructions-content' ng-repeat='paragraph in instructionParagraphs()' bind-html-compile='paragraph'></p>
        </div>
      </div>
      <div class="export-buttons">
        <h2>Consensus Export Options</h2>
        <button class="btn btn-success" ng-click="exportToPDF()" ng-if="context === 'assessment'">Export to PDF</button>
        <button class="btn btn-success" ng-click="exportToCSV()">Export to CSV</button>
      </div>
    </div>
  </div>
</div>
